<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDP Admin Console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/application-overview.css">
</head>
<body>
<main>
    {{template "template/header_template.html" .}}

    <section class="content d-flex">
        <aside class="p-0 bg-dark active js-aside-menu aside-menu active">
            {{template "template/navbar_template.html" .}}
        </aside>
        <div class="flex-fill pl-4 pr-4 wrapper">

            <div class="edp-form" id="createAppForm">
                <h1>{{.Application.Name}} application</h1>

                <div class="accordion" id="accordionCreateApplication">
                    <div class="card">
                        <div class="card-header" id="headingOne"
                             aria-expanded="true" aria-controls="collapseOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button">
                                    Properties info
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="show" aria-labelledby="headingOne">
                            <div class="card-body">
                                <div class="form-check">
                                    <table class="edp-table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Property</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Language</td>
                                            <td>{{.Application.Language}}</td>
                                        </tr>
                                        <tr>
                                            <td>Build Tool</td>
                                            <td>{{.Application.BuildTool}}</td>
                                        </tr>
                                        <tr>
                                            <td>Framework</td>
                                            <td>{{.Application.Framework}}</td>
                                        </tr>
                                        <tr>
                                            <td>Strategy</td>
                                            <td>{{.Application.Strategy}}</td>
                                        </tr>
                                        {{if .Application.GitUrl }}
                                            <tr>
                                                <td>Git Url</td>
                                                <td>{{.Application.GitUrl}}</td>
                                            </tr>
                                        {{end}}
                                        {{if and .Application.RouteSite .Application.RoutePath }}
                                            <tr>
                                                <td>Expose Service Site</td>
                                                <td>{{.Application.RouteSite}}</td>
                                            </tr>
                                            <tr>
                                                <td>Expose Service Path</td>
                                                <td>{{.Application.RoutePath}}</td>
                                            </tr>
                                        {{end}}
                                        {{if and .Application.DbKind .Application.DbVersion .Application.DbCapacity .Application.DbStorage }}
                                            <tr>
                                                <td>Db Kind</td>
                                                <td>{{.Application.DbKind}}</td>
                                            </tr>
                                            <tr>
                                                <td>Db Version</td>
                                                <td>{{.Application.DbVersion}}</td>
                                            </tr>
                                            <tr>
                                                <td>Db Capacity</td>
                                                <td>{{.Application.DbCapacity}}</td>
                                            </tr>
                                            <tr>
                                                <td>Db Storage</td>
                                                <td>{{.Application.DbStorage}}</td>
                                            </tr>
                                        {{end}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card status-info">
                        <div class="card-header collapsed" id="headingTwo" data-toggle="collapse"
                             data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button">
                                    Status info
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse status" aria-labelledby="headingTwo"
                             data-parent="#accordionCreateApplication">
                            <div class="card-body">
                                <div class="form-check">
                                    <table class="edp-table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Message</th>
                                            <th scope="col">Last Time Update</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Available</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{.Application.Message}}</td>
                                            <td>{{.Application.LastTimeUpdate}}</td>
                                            <td>{{.Application.UserName}}</td>
                                            <td class="app-status"
                                                data-status="{{.Application.Status}}">{{.Application.Status}}</td>
                                            <td>{{.Application.Available}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{if ne (len .ReleaseBranches) 0}}
                        <div class="card">
                            <div class="card-header" id="headingThree"
                                 aria-expanded="true" aria-controls="collapseThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button">
                                        Release Branches
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="show route" aria-labelledby="headingThree">
                                <div class="card-body">
                                    <div class="form-check">
                                        <table class="edp-table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Status</th>
                                                <th scope="col">Branch</th>
                                                <th scope="col">VCS</th>
                                                <th scope="col">CI/CD</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{range .ReleaseBranches}}
                                                <tr>
                                                    <td>
                                                        <img src="{{if eq .Event "created"}}/static/img/green_circle.svg{{else if eq .Event "failed"}}/static/img/red_circle.svg{{else}}/static/img/grey_circle.svg{{end}}"
                                                             alt="" style="width:25px; height:25px;">
                                                    </td>
                                                    <td>{{.Name}}</td>
                                                    <td>
                                                        <a href="{{.VCSLink}}" target="_blank" rel="noopener noreferrer"
                                                           class="{{if ne .Event "created"}}disabled{{end}}">Link</a>
                                                    </td>
                                                    <td>
                                                        <a href="{{.CICDLink}}" target="_blank"
                                                           rel="noopener noreferrer"
                                                           class="{{if ne .Event "created"}}disabled{{end}}">Link</a>
                                                    </td>
                                                </tr>
                                            {{end}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{end}}

                    <button type="button"
                            class="modal-release-branch btn btn-primary"
                            aria-controls="">Create New Branch
                    </button>
                </div>
            </div>
        </div>
    </section>
    {{template "template/footer_template.html" .}}

    <div class="modal fade" id="releaseBranchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">CREATE NEW RELEASE BRANCH</h5>
                    <button id="btn-cross-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="create-branch-action" action="/admin/edp/application/{{.Application.Name}}/branch"
                          method="post">
                        <div class="form-group">
                            <p>Branch Name:</p>
                            <input type="text" class="form-control" id="branchName" name="name"
                                   placeholder="Enter Branch Name">
                            <div class="error-block branch-exists-modal form-error" style="display: none;"></div>
                            <div class="invalid-feedback branch-name">
                                Branch name may contain only: lower-case letters, numbers, dots and dashes and cannot start and end with dash and dot. Can not be empty.
                            </div>

                            <p>From Commit Hash:</p>
                            <input type="text" class="form-control" id="commitNumber" name="commit"
                                   placeholder="Enter Commit">
                            <div class="invalid-feedback commit-message">
                                Commit hash field may contain only fully qualified hash string (40 letters)
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn-modal-close" type="button" class="btn btn-secondary btn-modal-close"
                            data-dismiss="modal">CANCEL
                    </button>
                    <button id="create-release-branch" type="button" class="edp-submit-form-btn btn btn-primary">
                        PROCEED
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal success -->
    <div class="modal fade" id="successPopup" tabindex="-1" role="dialog" aria-labelledby="successPopupLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successPopupLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Release Branch resource has been created.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/application.js"></script>
<script src="/static/js/application-overview.js"></script>
<script src="/static/js/release-branch.js"></script>
</body>
</html>