<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/application-overview.css">
</head>
<body>
<main>
    <header class="edp-header">
        <div class="burger">
            <button class="js-toggle-menu-button" type="button" data-toggle="collapse">
                <span class="opened">&#10006;</span>
                <span class="closed"></span>
            </button>
        </div>
        <div class="logo">
            <img src="/static/img/epam-logo-full-color-pms-colors.png" alt="epam">
        </div>
        <h2>Epam Delivery Platform</h2>
    </header>

    <section class="content d-flex">
        <aside class="p-0 bg-dark active js-aside-menu aside-menu active">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-column flex-row align-items-start p-0">
                <div class="navbar-collapse">
                    <ul class="flex-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item color-light">
                            <a class="nav-link pl-0" href="#">
                                <i class="icon-dashboard"></i>
                                <span class="link-name">
                                    DASHBOARD
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#">
                                <i class="icon-continuous_delivery"></i>
                                <span class="link-name">
                                CONTINUOUS DELIVERY
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="{{.ApplicationsLink}}">
                                <i class="icon-apps"></i>
                                <span class="link-name">
                                    APPLICATIONS
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#">
                                <i class="icon-services"></i>
                                <span class="link-name">
                                SERVICES
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#">
                                <i class="icon-autotest"></i>
                                <span class="link-name">
                                AUTOTESTS
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <div class="flex-fill pl-4 pr-4 wrapper">

            <div class="edp-form" id="createAppForm">
                <h1>{{.Application.Name}} application</h1>

                <div class="accordion" id="accordionCreateApplication">
                    <div class="card repo-block">
                        <div class="card-header" id="headingOne" data-toggle="collapse"
                             data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button">
                                    Main info
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordionCreateApplication">
                            <div class="card-body">
                                <div class="form-group">
                                    <table class="edp-table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Tenant</th>
                                            <th scope="col">Type</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{.Application.Name}}</td>
                                            <td>{{.Application.Tenant}}</td>
                                            <td>{{.Application.Type}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card main-block">
                        <div class="card-header collapsed" id="headingTwo" data-toggle="collapse"
                             data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button">
                                    Properties info
                                </button>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionCreateApplication">
                            <div class="card-body">
                                <div class="form-check">
                                    <table class="edp-table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Property</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Language</td>
                                            <td>{{.Application.Language}}</td>
                                        </tr>
                                        <tr>
                                            <td>BuildTool</td>
                                            <td>{{.Application.BuildTool}}</td>
                                        </tr>
                                        <tr>
                                            <td>Framework</td>
                                            <td>{{.Application.Framework}}</td>
                                        </tr>
                                        <tr>
                                            <td>Strategy</td>
                                            <td>{{.Application.Strategy}}</td>
                                        </tr>
                                        {{if .Application.GitUrl }}
                                            <tr>
                                                <td>Git Url</td>
                                                <td>{{.Application.GitUrl}}</td>
                                            </tr>
                                        {{end}}
                                        {{if and .Application.RouteSite .Application.RoutePath }}
                                            <tr>
                                                <td>Route Site</td>
                                                <td>{{.Application.RouteSite}}</td>
                                            </tr>
                                            <tr>
                                                <td>Route Path</td>
                                                <td>{{.Application.RoutePath}}</td>
                                            </tr>
                                        {{end}}
                                        {{if and .Application.DbKind .Application.DbVersion .Application.DbCapacity .Application.DbStorage }}
                                            <tr>
                                                <td>Db Kind</td>
                                                <td>{{.Application.DbKind}}</td>
                                            </tr>
                                            <tr>
                                                <td>Db Version</td>
                                                <td>{{.Application.DbVersion}}</td>
                                            </tr>
                                            <tr>
                                                <td>Db Capacity</td>
                                                <td>{{.Application.DbCapacity}}</td>
                                            </tr>
                                            <tr>
                                                <td>Db Storage</td>
                                                <td>{{.Application.DbStorage}}</td>
                                            </tr>
                                        {{end}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card route-block">
                        <div class="card-header collapsed" id="headingFour" data-toggle="collapse"
                             data-target="#collapseFour" aria-expanded="false"
                             aria-controls="collapseFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button">
                                    Status info
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse route" aria-labelledby="headingFour"
                             data-parent="#accordionCreateApplication">
                            <div class="card-body">
                                <div class="form-check">
                                    <table class="edp-table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Message</th>
                                            <th scope="col">LastTimeUpdate</th>
                                            <th scope="col">UserName</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Available</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{.Application.Message}}</td>
                                            <td>{{.Application.LastTimeUpdate}}</td>
                                            <td>{{.Application.UserName}}</td>
                                            <td>{{.Application.Status}}</td>
                                            <td>{{.Application.Available}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="edp-footer">
        <div class="copy">
            <p>© 2018 EPAM Systems, Inc. </p>
            <p> All Rights Reserved.</p>
        </div>
    </footer>

</main>
</div>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/application.js"></script>
</body>
</html>