<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDP Admin Console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<main>
    {{template "template/header_template.html" .}}

    <section class="content d-flex">
        <aside class="p-0 bg-dark active js-aside-menu aside-menu active">
            {{template "template/navbar_template.html" .}}
        </aside>
        <div class="flex-fill pl-4 pr-4 wrapper">

            <div class="edp-form wide nosidepadding cd-pipeline-overview-table" >
                    <h1 class="edp-form-header">
                        <a href="/admin/edp/cd-pipeline/overview" class="edp-back-link"></a>
                        CD Pipeline:
                        <a href="{{.CDPipeline.JenkinsLink}}" target="_blank" class="edp-link" rel="noopener noreferrer">
                            {{.CDPipeline.Name}}
                        </a>
                    </h1>
                <p>
                    Find below the Pipeline details.
                </p>

                <div class="accordion" id="accordionCreateApplication">
                    <div class="card">
                        <div class="card applications-info">
                            <div class="card-header static" id="headingOne"
                                 aria-expanded="true" aria-controls="collapseOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button">
                                        Applications
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Applications which are deployed on the stages below."></span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="show" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-check">
                                        <table class="table edp-table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Application</th>
                                                <th scope="col">Branch</th>
                                                <th scope="col">Jenkins</th>
                                                <th scope="col">Promote in CD Pipeline</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{range .CDPipeline.CodebaseBranch}}
                                                <tr>
                                                    <td class="codebaseName">
                                                        {{.Codebase.Name}}
                                                    </td>
                                                    <td>
                                                        <a href="{{.VCSLink}}" target="_blank" class="edp-link"
                                                           rel="noopener noreferrer">{{.Name}}</a>
                                                    </td>
                                                    <td>
                                                        <a href="{{.CICDLink}}" target="_blank" class="edp-link"
                                                           rel="noopener noreferrer">Link</a>
                                                    </td>
                                                    <td class="promoteCDPipeline">
                                                        <div class="promote-checkbox-overview cancel"/>
                                                    </td>
                                                </tr>
                                            {{end}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{if .CDPipeline.Stage}}
                            <div class="card stages-info">
                                <div class="card-header static" id="headingTwo"
                                     aria-expanded="true" aria-controls="collapseTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button">
                                            Stages
                                            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                                  title="Stages which are created for the pipeline."></span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="show" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <table class="table edp-table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Trigger Type</th>
                                                    <th scope="col">OpenShift Project</th>
                                                    <th scope="col">Quality Gates</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{range .CDPipeline.Stage}}
                                                    <tr valign="top">
                                                        <td>
                                                            {{.Name}}
                                                            {{if .Description}}
                                                              <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                                            title="{{.Description}}"></span>
                                                            {{end}}
                                                        </td>
                                                        <td>{{.TriggerType}}</td>
                                                        <td>
                                                            <a href="{{.OpenshiftProjectLink}}" target="_blank" class="edp-link"
                                                               rel="noopener noreferrer">Link</a>
                                                        </td>
                                                        <td>
                                                            {{if .QualityGates}}
                                                                <table>
                                                                    <thead>
                                                                    <tr>
                                                                        <th scope="col">Quality Gate Type</th>
                                                                        <th scope="col">Jenkins Step Name</th>
                                                                        <th scope="col">Autotest Name</th>
                                                                        <th scope="col">Branch Name</th>
                                                                    </tr>
                                                                    </thead>
                                                                    {{range .QualityGates}}
                                                                        <tr>
                                                                            <th>{{.QualityGateType}}</th>
                                                                            <th>{{.StepName}}</th>

                                                                            {{if eq "autotests" .QualityGateType}}
                                                                                <th>
                                                                                    <a href="/admin/edp/codebase/{{.Autotest.Name}}/overview" class="edp-link">
                                                                                        {{.Autotest.Name}} </a>
                                                                                </th>
                                                                                <th>
                                                                                    {{.Branch.Name}}
                                                                                </th>
                                                                            {{end}}
                                                                                <th></th>
                                                                                <th></th>
                                                                            {{else}}

                                                                        </tr>
                                                                    {{end}}
                                                                </table>
                                                            {{end}}
                                                        </td>
                                                    </tr>
                                                {{end}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{end}}

                        {{if .CDPipeline.ThirdPartyService}}
                            <div class="card third-party-service-info">
                                <div class="card-header static" id="headingThree"
                                     aria-expanded="true" aria-controls="collapseThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button">
                                            Third Party Services
                                            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                                  title="Third Party Services which are deployed on the stages."></span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="show" aria-labelledby="headingThree">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <table class="table edp-table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Version</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{range .CDPipeline.ThirdPartyService}}
                                                    <tr>
                                                        <td>
                                                            {{.Name}}
                                                            {{if .Description}}
                                                            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                                                  title="{{.Description}}"></span>
                                                            {{end}}
                                                        </td>
                                                        <td>{{.Version}}</td>
                                                    </tr>
                                                {{end}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{end}}

                        {{if .CDPipeline.CodebaseStageMatrix}}
                            <div class="card stages-info">
                                <div class="card-header static" id="headingTwo"
                                     aria-expanded="true" aria-controls="collapseTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button">
                                            Deployed versions
                                            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                                  title="Versions of the deployed artifacts."></span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="show" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <table class="table edp-table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Application/Stage</th>
                                                    {{range .CDPipeline.Stage}}
                                                        <th>{{.Name}}</th>
                                                    {{end}}
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{$pipeline := .CDPipeline}}
                                                {{range $i, $codebase := $pipeline.CodebaseBranch}}
                                                    <tr>
                                                        <th>{{$codebase.AppName}}</th>
                                                        {{range $i, $stage := $pipeline.Stage}}
                                                            {{$version := $pipeline.GetCDCodebaseStageMatrixValue $codebase $stage  }}
                                                            <td>{{$version.DockerVersion }}</td>
                                                        {{end}}
                                                    </tr>
                                                {{end}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>

        <div class="applications-to-promote">
            {{range $app := .CDPipeline.ApplicationsToPromote}}
                <input type="hidden" data-app-name="{{$app}}">
            {{end}}
        </div>
    </section>
    {{template "template/footer_template.html" .}}

</main>

<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/pipeline-overview.js"></script>

</body>
</html>