<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDP Admin Console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<main>
    {{template "template/header_template.html" .}}

    <section class="content d-flex">
        <aside class="p-0 bg-dark active js-aside-menu aside-menu active">
            {{template "template/navbar_template.html" .}}
        </aside>
        <div class="flex-fill pl-4 pr-4 wrapper">

            <div class="edp-form cd-pipeline-overview-table">
                <div class="row">
                    <h1 class="col-md-3">CD Pipeline: </h1>
                    <h1>{{.CDPipeline.Name}}</h1>
                </div>
                <div class="row">
                    <h1 class="col-md-3">Jenkins: </h1>
                    <h1>
                        <a href="{{.CDPipeline.JenkinsLink}}" target="_blank"
                           rel="noopener noreferrer">Link to Jenkins</a>
                    </h1>
                </div>

                <div class="accordion" id="accordionCreateApplication">
                    <div class="card">
                        <div class="card applications-info">
                            <div class="card-header" id="headingOne"
                                 aria-expanded="true" aria-controls="collapseOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button">
                                        Applications
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="show" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-check">
                                        <table class="edp-table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Application</th>
                                                <th scope="col">Branch</th>
                                                <th scope="col">Jenkins</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{range .CDPipeline.CodebaseBranch}}
                                                <tr>
                                                    <td>
                                                        {{.Codebase.Name}}
                                                    </td>
                                                    <td>
                                                        <a href="{{.VCSLink}}" target="_blank"
                                                           rel="noopener noreferrer">{{.Name}}</a>
                                                    </td>
                                                    <td>
                                                        <a href="{{.CICDLink}}" target="_blank"
                                                           rel="noopener noreferrer">Link</a>
                                                    </td>
                                                </tr>
                                            {{end}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{if .CDPipeline.Stage}}
                            <div class="card stages-info">
                                <div class="card-header" id="headingTwo"
                                     aria-expanded="true" aria-controls="collapseTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button">
                                            Stages
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="show" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <table class="edp-table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">Trigger Type</th>
                                                    <th scope="col">Quality Gate</th>
                                                    <th scope="col">Autotests</th>
                                                    <th scope="col">Jenkins Step Name</th>
                                                    <th scope="col">OpenShift Project</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{range .CDPipeline.Stage}}
                                                    <tr valign="top">
                                                        <td>{{.Name}}</td>
                                                        <td>{{.Description}}</td>
                                                        <td>{{.TriggerType}}</td>
                                                        <td>{{.QualityGate}}</td>
                                                        <td>
                                                            {{range .Autotests}}
                                                                <a href="/admin/edp/codebase/{{.Name}}/overview">{{.Name}}</a></br>
                                                            {{end}}
                                                        </td>
                                                        <td>{{.JenkinsStepName}}</td>
                                                        <td>
                                                            <a href="{{.OpenshiftProjectLink}}" target="_blank"
                                                               rel="noopener noreferrer">OpenShift Link</a>
                                                        </td>
                                                    </tr>
                                                {{end}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{end}}

                        {{if .CDPipeline.ThirdPartyService}}
                            <div class="card third-party-service-info">
                                <div class="card-header" id="headingThree"
                                     aria-expanded="true" aria-controls="collapseThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button">
                                            Third Party Services
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="show" aria-labelledby="headingThree">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <table class="edp-table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">Version</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{range .CDPipeline.ThirdPartyService}}
                                                    <tr>
                                                        <td>{{.Name}}</td>
                                                        <td>{{.Description}}</td>
                                                        <td>{{.Version}}</td>
                                                    </tr>
                                                {{end}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{end}}

                        {{if .CDPipeline.CodebaseStageMatrix}}
                            <div class="card stages-info">
                                <div class="card-header" id="headingTwo"
                                     aria-expanded="true" aria-controls="collapseTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button">
                                            Deployed versions
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="show" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <table class="edp-table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">App/Stage</th>
                                                    {{range .CDPipeline.Stage}}
                                                        <th>{{.Name}}</th>
                                                    {{end}}
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{$pipeline := .CDPipeline}}
                                                {{range $i, $codebase := $pipeline.CodebaseBranch}}
                                                    <tr>
                                                        <th>{{$codebase.AppName}}</th>
                                                        {{range $i, $stage := $pipeline.Stage}}
                                                            {{$version := $pipeline.GetCDCodebaseStageMatrixValue $codebase $stage  }}
                                                            <td>{{$version.DockerVersion }}</td>

                                                        {{end}}
                                                    </tr>
                                                {{end}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{end}}


                    </div>
                </div>
            </div>
        </div>
    </section>
    {{template "template/footer_template.html" .}}

</main>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>