<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDP Admin Console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<main>
    {{template "template/header_template.html" .}}
    <section class="content error">
        <div class="edp-landing-text container" style="padding-top: 17%">
            <h1>Current functionality is not implemented yet.</h1>
        </div>
    </section>
    {{template "template/footer_template.html" .}}
</main>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>