<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDP Admin Console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<main>
    {{template "template/header_template.html" .}}
    <section class="content error">
        <div class="edp-landing-text container">
            <h1>REDIRECT CONFIRMATION</h1>
            <p>It looks like you'd like to redirect to cockpit site.</p>
            <p>Please, press OK button if you are sure.</p>
            <div class="edp-landing-button">
                <a href="{{.Domain}}#{{.Anchor}}" target="_blank" rel="noopener noreferrer" class="btn btn-success btn-block">Go to Cockpit</a>
            </div>
        </div>
    </section>
    {{template "template/footer_template.html" .}}
</main>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>