<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDP Admin Console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/codebase-list.css">
</head>
<body>
<main>
    {{template "template/header_template.html" .}}
    <section class="content d-flex">
        <aside class="p-0 bg-dark active js-aside-menu aside-menu active">
            {{template "template/navbar_template.html" .}}
        </aside>
        <div class="flex-fill pl-3 pr-3 wrapper">
            {{if .Codebases}}
                <div class="d-flex edp-controls">
                    <div class="flex-fill">
                        <h1>
                            {{if eq .Type "application"}}
                                Applications
                            {{else if eq .Type "autotests"}}
                                Autotests
                            {{else}}
                                Libraries
                            {{end}}
                        </h1>
                    </div>
                    {{if .HasRights}}
                        <div class="flex-fill">
                            <div class="float-right">
                                {{if eq .Type "application"}}
                                    <a href="/admin/edp/application/create">
                                        <button class="btn btn-success">CREATE APPLICATION</button>
                                    </a>
                                {{else if eq .Type "autotests"}}
                                    <a href="/admin/edp/autotest/create">
                                        <button class="btn btn-success">ADD AUTOTEST</button>
                                    </a>
                                {{else}}
                                    <a href="/admin/edp/library/create">
                                        <button class="btn btn-success">ADD LIBRARY</button>
                                    </a>
                                {{end}}
                            </div>
                        </div>
                    {{end}}
                </div>
                <table class="table edp-table">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 15%">Status</th>
                        <th scope="col" style="width: 30%">Name</th>
                        <th scope="col" style="width: 25%">Language</th>
                        <th scope="col" style="width: 20%">Build Tool</th>
                        <th scope="col" style="width: 10%"></th>
                    </tr>
                    </thead>
                    <tbody>

                    {{range .Codebases}}
                        <tr data-codebase-name="{{.Name}}" data-codebase-status="{{.Status}}">
                            <td class="codebase-status" data-status="{{.Status}}">
                                <img src="{{if eq .Status "active"}}/static/img/green_circle.svg{{else if eq .Status "failed"}}/static/img/red_circle.svg{{else}}/static/img/grey_circle.svg{{end}}"
                                     alt="" style="width:25px; height:25px;">
                            </td>
                            <td class="codebase-name">
                                <a href="/admin/edp/codebase/{{.Name}}/overview"
                                   class="{{if ne .Status "active"}}disabled{{end}}">
                                    {{.Name}}
                                </a>
                            </td>
                            <td>{{.Language}}</td>
                            <td>{{.BuildTool}}</td>
                            <td></td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            {{else}}
                <div class="no-tenant no-codebase-message">
                    <h1>Looks like there're not
                        any {{if eq .Type "application"}}applications{{else if eq .Type "autotests"}}autotests{{else}}libraries{{end}}
                        .</h1>
                    {{if .HasRights}}
                        {{if eq .Type "application"}}
                            <a href="/admin/edp/application/create">
                                <button class="btn btn-success">CREATE APPLICATION</button>
                            </a>
                        {{else if eq .Type "autotests"}}
                            <a href="/admin/edp/autotest/create">
                                <button class="btn btn-success">ADD AUTOTEST</button>
                            </a>
                        {{else}}
                            <a href="/admin/edp/library/create">
                                <button class="btn btn-success">ADD LIBRARY</button>
                            </a>
                        {{end}}
                    {{else}}
                        <p class="no-rights-msg">Please, contact EDP support team.</p>
                    {{end}}
                </div>
            {{end}}
        </div>
    </section>
    {{template "template/footer_template.html" .}}

    <!-- Modal success -->
    <div class="modal fade" id="successPopup" tabindex="-1" role="dialog" aria-labelledby="successPopupLabel"
         aria-hidden="true" data-display="{{ if .Success }}true{{ else }}false{{ end }}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successPopupLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Provisioning has been started.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/codebase-overview.js"></script>
</body>
</html>