<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDP Admin Console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ .BasePath }}/static/css/index.css">
    <link rel="stylesheet" href="{{ .BasePath }}/static/css/codebase-overview.css">
</head>
<body>
<main>
    {{template "template/header_template.html" .}}

    <section class="content d-flex">
        <aside class="p-0 bg-dark active js-aside-menu aside-menu active">
            {{template "template/navbar_template.html" .}}
        </aside>
        <div class="flex-fill pl-4 pr-4 wrapper">
            <div class="edp-form wide col-12 nosidepadding" id="createAppForm">
                <h1 class="edp-form-header">
                    {{if eq .Type "application"}}
                    <a href="{{ .BasePath }}/admin/edp/application/overview" class="edp-back-link"></a>
                    {{else if eq .Type "autotests"}}
                    <a href="{{ .BasePath }}/admin/edp/autotest/overview" class="edp-back-link"></a>
                    {{else}}
                    <a href="{{ .BasePath }}/admin/edp/library/overview" class="edp-back-link"></a>
                    {{end}}
                    {{.TypeCaption}} "{{.Codebase.Name}}"
                </h1>
                <p>Find below the {{.TypeSingular}} details, manage branches and track all the happened actions.</p>

                <div class="accordion col-6 nosidepadding" id="accordionCreateApplication">
                    <div class="card">
                        <div class="card-header" id="headingOne"
                             aria-expanded="true" aria-controls="collapseOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button">
                                    General Info
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="show" aria-labelledby="headingOne">
                            <div class="card-body">
                                <table class="edp-card-table">
                                        <tbody>
                                        <tr >
                                            <th style="width: 25%">Language</th>
                                            <td>{{.Codebase.Language}}</td>
                                        </tr>
                                        <tr>
                                            <th>Build Tool</th>
                                            <td>{{.Codebase.BuildTool}}</td>
                                        </tr>
                                        {{if .Codebase.Framework}}
                                            <tr>
                                                <th>Framework</th>
                                                <td>{{.Codebase.Framework}}</td>
                                            </tr>
                                        {{end}}
                                        <tr>
                                            <th>Strategy</th>
                                            <td>{{.Codebase.Strategy}}</td>
                                        </tr>
                                        {{if .Codebase.TestReportFramework }}
                                            <tr>
                                                <th>Test Report Framework</th>
                                                <td>{{.Codebase.TestReportFramework}}</td>
                                            </tr>
                                        {{end}}
                                        {{if .Codebase.GitUrl }}
                                            <tr>
                                                <th>Git Url</th>
                                                <td>{{.Codebase.GitUrl}}</td>
                                            </tr>
                                        {{end}}
                                        {{if ne (len .Codebase.Description) 0}}
                                            <tr>
                                                <th>Description</th>
                                                <td>{{.Codebase.Description}}</td>
                                            </tr>
                                        {{end}}
                                        {{if .Codebase.RouteSite }}
                                            <tr>
                                                <th>Expose Service Site</th>
                                                <td>{{.Codebase.RouteSite}}</td>
                                            </tr>
                                        {{end}}
                                        {{if .Codebase.RoutePath}}
                                            <tr>
                                                <th>Expose Service Path</th>
                                                <td>{{.Codebase.RoutePath}}</td>
                                            </tr>
                                        {{end}}
                                        {{if and .Codebase.DbKind .Codebase.DbVersion .Codebase.DbCapacity .Codebase.DbStorage }}
                                            <tr>
                                                <th>Db Kind</th>
                                                <td>{{.Codebase.DbKind}}</td>
                                            </tr>
                                            <tr>
                                                <th>Db Version</th>
                                                <td>{{.Codebase.DbVersion}}</td>
                                            </tr>
                                            <tr>
                                                <th>Db Capacity</th>
                                                <td>{{.Codebase.DbCapacity}}</td>
                                            </tr>
                                            <tr>
                                                <th>Db Storage</th>
                                                <td>{{.Codebase.DbStorage}}</td>
                                            </tr>
                                        {{end}}
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="head-advanced-settings"
                             aria-expanded="true" aria-controls="collapse-advanced-settings">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button">
                                    Advanced CI Settings
                                </button>
                            </h5>
                        </div>
                        <div id="collapse-advanced-settings" class="show route" aria-labelledby="head-advanced-settings">
                            <div class="card-body">
                                <table class="edp-card-table">
                                    <tbody>
                                    <tr >
                                        <th>Job Provisioner</th>
                                        <td>{{.Codebase.JobProvisioning}}</td>
                                    </tr>
                                    {{if .Codebase.JenkinsSlave}}
                                        <tr>
                                            <th>Jenkins Slave</th>
                                            <td>{{.Codebase.JenkinsSlave}}</td>
                                        </tr>
                                    {{end}}
                                    {{if .Codebase.DeploymentScript}}
                                        <tr>
                                            <th>Deployment Script</th>
                                            <td>{{.Codebase.DeploymentScript}}</td>
                                        </tr>
                                    {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    {{if and (eq .Codebase.Status "active") (ne (len .Codebase.CodebaseBranch) 0) }}
                        <div class="card">
                            <div class="card-header" id="headingThree"
                                 aria-expanded="true" aria-controls="collapseThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button">
                                        Branches
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="show route" aria-labelledby="headingThree">
                                <div class="card-body">
                                    {{ $isLibrary := eq $.Codebase.Type "library"}}
                                    {{ $isBuildToolNone := eq $.Codebase.BuildTool "none"}}
                                    {{ $libWithBuildToolNone := and $isLibrary $isBuildToolNone}}
                                    <table class="edp-card-table">
                                        <tbody>
                                        <tr>
                                            <th scope="col">Status</th>
                                            <th scope="col">Branch</th>
                                            <th scope="col">VCS</th>
                                            {{if not $libWithBuildToolNone}}
                                                <th scope="col">CI</th>
                                            {{end}}
                                        </tr>
                                        {{range .Codebase.CodebaseBranch}}
                                            <tr data-branch-name="{{.Name}}" data-branch-status="{{.Status}}">
                                                <td>
                                                    <img src="{{if eq .Status "active"}}/static/img/green_circle.svg{{else if eq .Status "failed"}}/static/img/red_circle.svg{{else}}/static/img/grey_circle.svg{{end}}"
                                                         alt="" style="width:25px; height:25px;">
                                                </td>
                                                <td>{{.Name}}</td>
                                                <td>
                                                    <a href="{{.VCSLink}}" target="_blank" rel="noopener noreferrer"
                                                       class="edp-link {{if ne .Status "active"}}disabled{{end}}">Link</a>
                                                </td>
                                                {{if not $libWithBuildToolNone}}
                                                    <td>
                                                        <a href="{{.CICDLink}}" target="_blank"
                                                           rel="noopener noreferrer"
                                                           class="edp-link {{if ne .Status "active"}}disabled{{end}}">Link</a>
                                                    </td>
                                                {{end}}
                                            </tr>
                                        {{end}}
                                        </tbody>
                                    </table>
                                    <div class="form-group"></div>
                                    <button type="button" class="modal-release-branch btn btn-primary" aria-controls="">Create</button>
                                </div>
                            </div>
                        </div>
                    {{end}}
                </div>

                <div class="accordion">
                    <div class="card status-info">
                        <div class="card-header collapsed" id="headingTwo" data-toggle="collapse"
                             data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button">
                                    Status Info
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse status" aria-labelledby="headingTwo"
                             data-parent="#accordionCreateApplication">
                            <div class="card-body">
                                <table class="action-log-table edp-card-table">
                                    <tbody>
                                        <tr>
                                            <th scope="col" style="width: 20%">Date</th>
                                            <th scope="col" style="width: 25%">User</th>
                                            <th scope="col" style="width: 22.5%">Action</th>
                                            <th scope="col" style="width: 10%">Result</th>
                                            <th scope="col" style="width: 22.5%">Message</th>
                                        </tr>
                                    {{range .Codebase.ActionLog}}
                                        <tr>
                                            <td>{{.LastTimeUpdate.Format "02.01.2006 15:04:05 (UTC-07)" }}</td>
                                            <td>{{.UserName}}</td>
                                            <td>{{.Action}}</td>
                                            <td>{{.Result}}</td>
                                            <td>{{.Message}}</td>
                                        </tr>
                                    {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{template "template/footer_template.html" .}}
    {{template "template/modal_success_template.html" .}}

    <div class="modal fade" id="releaseBranchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Branch</h5>
                    <button id="btn-cross-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="create-branch-action" action="{{ .BasePath }}/admin/edp/codebase/{{.Codebase.Name}}/branch"
                          method="post">
                        <div class="form-group">
                            <label for="site">Branch Name</label>
                            <input type="text" class="form-control" id="branchName" name="name"
                                   placeholder="Enter Branch Name">
                            <div class="error-block branch-exists-modal invalid-feedback" style="display: none;"></div>
                            <div class="invalid-feedback branch-name">
                                Branch name may contain only: lower-case letters, numbers, dots and dashes and cannot
                                start and end with dash and dot. Can not be empty.
                            </div>
                        </div>

                        <div class="form-group">
                            <label>From Commit Hash</label>
                            <input type="text" class="form-control" id="commitNumber" name="commit"
                                   placeholder="Enter Commit">
                            <div class="invalid-feedback commit-message">
                                Commit hash field may contain only fully qualified hash string (40 letters)
                            </div>
                        </div>
                        {{ .xsrfdata }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn-modal-close" type="button" class="btn btn-secondary btn-modal-close"
                            data-dismiss="modal">Cancel
                    </button>
                    <button id="create-release-branch" type="button" class="edp-submit-form-btn btn btn-primary">
                        Proceed
                    </button>
                </div>
            </div>
        </div>
    </div>

</main>
<script src="{{ .BasePath }}/static/js/jquery-3.3.1.js"></script>
<script src="{{ .BasePath }}/static/js/popper.js"></script>
<script src="{{ .BasePath }}/static/js/bootstrap.js"></script>
<script src="{{ .BasePath }}/static/js/util.js"></script>
<script src="{{ .BasePath }}/static/js/release-branch.js"></script>
<script src="{{ .BasePath }}/static/js/bootstrap-notify.js"></script>
</body>
</html>