<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDP Admin Console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ .BasePath }}/static/css/index.css">
</head>
<body>
<main>
    {{template "template/header_template.html" .}}
    <section class="content d-flex">
        <aside class="p-0 bg-dark active js-aside-menu aside-menu active">
            {{template "template/navbar_template.html" .}}
        </aside>
        <div class="flex-fill pl-4 pr-4 wrapper">
            <div class="d-flex edp-form wide">
                <div class="flex-fill">

                    {{if eq .Type "application"}}
                        <h1>
                            Applications
                        </h1>
                    {{else if eq .Type "autotests"}}
                        <h1>
                            Autotests
                        </h1>
                    {{else}}
                        <h1>
                            Libraries
                        </h1>
                    {{end}}
                    {{if .Codebases}}
                        <p> Please find below the list
                            of {{if eq .Type "application"}}applications{{else if eq .Type "autotests"}}autotests{{else}}libraries{{end}}
                            .</p>
                    {{else}}
                        <p>Looks like there're no
                            any {{if eq .Type "application"}}applications{{else if eq .Type "autotests"}}autotests{{else}}libraries{{end}}
                            .</p>
                    {{end}}

                    {{ if .Error }}
                        <div class="form-error">
                            <p>{{ .Error }}</p>
                        </div>
                    {{ end }}
                </div>
                {{if .HasRights}}
                    <div class="flex-fill">
                        <div class="float-right">
                            {{if eq .Type "application"}}
                                <a href="{{ .BasePath }}/admin/edp/application/create">
                                    <button class="btn btn-primary">Create</button>
                                </a>
                            {{else if eq .Type "autotests"}}
                                <a href="{{ .BasePath }}/admin/edp/autotest/create">
                                    <button class="btn btn-primary">Create</button>
                                </a>
                            {{else}}
                                <a href="{{ .BasePath }}/admin/edp/library/create">
                                    <button class="btn btn-primary">Create</button>
                                </a>
                            {{end}}
                        </div>
                    </div>
                {{end}}
            </div>
            {{if .Codebases}}
                <div class="edp-table-container">
                    <table class="table edp-table">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 15%">Status</th>
                            <th scope="col" style="width: 30%">Name</th>
                            <th scope="col" style="width: 25%">Language</th>
                            <th scope="col" style="width: 20%">Build Tool</th>
                            <th scope="col" style="width: 10%"></th>
                            <th scope="col" style="width: 10%"></th>
                        </tr>
                        </thead>
                        <tbody>

                        {{range .Codebases}}
                            <tr data-codebase-name="{{.Name}}" data-codebase-status="{{.Status}}">
                                <td class="codebase-status" data-status="{{.Status}}">
                                    <img src="{{if eq .Status "active"}}{{ $.BasePath }}/static/img/green_circle.svg{{else if eq .Status "failed"}}{{ $.BasePath }}/static/img/red_circle.svg{{else}}{{ $.BasePath }}/static/img/grey_circle.svg{{end}}"
                                         alt="" style="width:25px; height:25px;">
                                </td>
                                <td class="codebase-name">
                                    <a href="{{ $.BasePath }}/admin/edp/codebase/{{.Name}}/overview">
                                        {{.Name}}
                                    </a>
                                </td>
                                <td>{{.Language}}</td>
                                <td>{{.BuildTool}}</td>
                                <td>
                                    {{if .JiraServer}}
                                        <a href="{{ $.BasePath }}/admin/edp/codebase/{{.Name}}/update"
                                           class="{{if ne .Status "active"}}disabled{{end}}">
                                            <button class="delete">
                                                <i class="icon-pencil"></i>
                                            </button>
                                        </a>
                                    {{end}}
                                </td>
                                <td>
                                    {{if $.HasRights}}
                                        <button class="delete delete-codebase" data-toggle="modal"
                                                data-codebase="{{.Name}}">
                                            <i class="icon-trashcan"></i>
                                        </button>
                                    {{end}}
                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            {{end}}
        </div>
    </section>
    {{template "template/footer_template.html" .}}
    {{template "template/modal_success_template.html" .}}
</main>
{{template "template/delete_confirmation_template.html" params "action" (print .BasePath "/admin/edp/codebase") "kind" "codebase" "xsrfdata" .xsrfdata "type" .Type "error" .DeletionError}}
<script src="{{ .BasePath }}/static/js/jquery-3.3.1.js"></script>
<script src="{{ .BasePath }}/static/js/popper.js"></script>
<script src="{{ .BasePath }}/static/js/bootstrap.js"></script>
<script src="{{ .BasePath }}/static/js/util.js"></script>
<script src="{{ .BasePath }}/static/js/confirmation-popup.js"></script>
<script src="{{ .BasePath }}/static/js/codebase-overview.js"></script>
<script src="{{ .BasePath }}/static/js/bootstrap-notify.js"></script>
</body>
</html>