<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/validation.css">
</head>
<body>
<main>
    <header class="edp-header">
        <div class="burger">
            <button class="js-toggle-menu-button" type="button" data-toggle="collapse">
                <span class="opened">&#10006;</span>
                <span class="closed"></span>
            </button>
        </div>
        <div class="logo">
            <img src="/static/img/epam-logo-full-color-pms-colors.png" alt="epam">
        </div>
        <h2>Epam Delivery Platform</h2>
    </header>
    <section class="content d-flex">
        <aside class="p-0 bg-dark active js-aside-menu aside-menu active">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-column flex-row align-items-start p-0">
                <div class="navbar-collapse">
                    <ul class="flex-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item color-light">
                            <a class="nav-link pl-0" href="#">
                                <i class="icon-dashboard"></i>
                                <span class="link-name">
                                    DASHBOARD
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#">
                                <i class="icon-continuous_delivery"></i>
                                <span class="link-name">
                                CONTINUOUS DELIVERY
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#">
                                <i class="icon-apps"></i>
                                <span class="link-name">
                                    APPLICATIONS
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#">
                                <i class="icon-services"></i>
                                <span class="link-name">
                                SERVICES
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#">
                                <i class="icon-autotest"></i>
                                <span class="link-name">
                                AUTOTESTS
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <div class="flex-fill pl-4 pr-4 wrapper">

            <form class="edp-form" id="createAppForm" method="post">
                <h1>ADDING APPLICATION</h1>
                <p>After adding application you will get project in Gerrit and code review and build pipelines in Jenkins</p>
                <div class="accordion" id="accordionCreateApplication">
                    <div class="card">
                        <div class="card-header" id="headingOne" data-toggle="collapse"
                             data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button">
                                    Main info
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordionCreateApplication">
                            <div class="card-body">
                                <div class="form-group app-name">
                                    <label for="nameOfApp">Name of application
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Please specify application name with following format: example, example.com or example-com"></span>
                                    </label>
                                    <input name="nameOfApp" type="text" class="form-control" id="nameOfApp"
                                           placeholder="Enter application name">
                                    <div class="invalid-feedback">
                                        Please fill correct field.
                                    </div>
                                </div>
                                <p>Select application type
                                    <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                          title="You must select one of the framework."></span>
                                </p>
                                <div class="form__input-wrapper">
                                    <fieldset id="subFormWrapper">
                                        <div class="d-flex">
                                            <div class="form__radio-btn-wrapper">
                                                <input name="appLang" type="radio" class="form__radio-btn"
                                                       id="appLang-Java"
                                                       value="Java" data-target=".formSubsection1">
                                                <label class="form__radio-label" for="appLang-Java">
                                                    <img class="form__radio-label-icon" src="/static/img/java-logo.png"
                                                         alt="logo">
                                                    <span class="form__radio-label-text">Java</span>
                                                </label>
                                            </div>
                                            <div class="form__radio-btn-wrapper">
                                                <input name="appLang" type="radio" class="form__radio-btn"
                                                       id="appLang-JavaScript" value="JavaScript"
                                                       data-target=".formSubsection2">
                                                <label class="form__radio-label" for="appLang-JavaScript">
                                                    <img class="form__radio-label-icon"
                                                         src="/static/img/unofficial-java-script-logo-2.png" alt="logo">
                                                    <span class="form__radio-label-text">JavaScript</span>
                                                </label>
                                            </div>
                                            <div class="form__radio-btn-wrapper">
                                                <input name="appLang" type="radio" class="form__radio-btn"
                                                       id="appLang-DotNet" value="DotNet"
                                                       data-target=".formSubsection3">
                                                <label class="form__radio-label" for="appLang-DotNet">
                                                    <img class="form__radio-label-icon"
                                                         src="/static/img/dotNet.png" alt="logo">
                                                    <span class="form__radio-label-text">DotNet</span>
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="js-form-subsection form-subsection formSubsection1">
                                        <div class="form__input-wrapper  with-circle"><span
                                                    class="form__input-heading"></span>
                                            <div class="form__radio-btn-wrapper">
                                                <input name="framework" type="radio" class="form__radio-btn framework"
                                                       id="framework-SpringBoot" value="SpringBoot">
                                                <label
                                                        class="form__radio-label" for="framework-SpringBoot">
                                                    <span class="form__radio-btn--outer-circle">
                                                        <span class="form__radio-btn--inner-circle "></span>
                                                    </span>
                                                    <img class="form__radio-label-icon"
                                                         src="/static/img/Springboot.png" alt="logo">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="js-form-subsection form-subsection formSubsection2">
                                        <div class="form__input-wrapper with-circle"><span
                                                    class="form__input-heading"></span>
                                            <div class="form__radio-btn-wrapper">
                                                <input name="framework" type="radio" class="form__radio-btn framework"
                                                       id="framework-react" value="React">
                                                <label
                                                        class="form__radio-label" for="framework-react">
                                                    <span class="form__radio-btn--outer-circle">
                                                        <span class="form__radio-btn--inner-circle "></span>
                                                    </span>
                                                    <img class="form__radio-label-icon" src="/static/img/React.png"
                                                         alt="logo">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="js-form-subsection form-subsection formSubsection3">
                                        <div class="form__input-wrapper with-circle"><span
                                                    class="form__input-heading"></span>
                                            <div class="form__radio-btn-wrapper">
                                                <input name="framework" type="radio" class="form__radio-btn framework"
                                                       id="framework-dotNet" value="DotNetCore">
                                                <label
                                                        class="form__radio-label" for="framework-dotNet">
                                                    <span class="form__radio-btn--outer-circle">
                                                        <span class="form__radio-btn--inner-circle "></span>
                                                    </span>
                                                    <img class="form__radio-label-icon" src="/static/img/netcore.png"
                                                         alt="logo">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="invalid-feedback appLangError">
                                    Please select application type.
                                </div>
                                <div class="invalid-feedback frameworkError">
                                    Please select framework.
                                </div>
                                <div class="form-group">
                                    <div class="js-form-subsection form-subsection formSubsection1">
                                        <label for="buildTool">Select build tool
                                            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                                  title="You must select of the build tools."></span>
                                        </label>
                                        <select class="form-control java-build-tools" name="buildTool">
                                            <option>Gradle</option>
                                            <option>Maven</option>
                                        </select>
                                    </div>
                                    <div class="js-form-subsection form-subsection formSubsection2">
                                        <label for="buildTool">Select build tool
                                            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                                  title="You must select of the build tools."></span>
                                        </label>
                                        <select class="form-control" name="buildTool">
                                            <option>NPM</option>
                                        </select>
                                    </div>
                                    <div class="js-form-subsection form-subsection formSubsection3">
                                        <label for="buildTool">Select build tool
                                            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                                  title="You must select of the build tools."></span>
                                        </label>
                                        <select class="form-control" name="buildTool">
                                            <option>dotnet</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-check multi-module hide-element">
                                    <input class="form-check-input" type="checkbox" value="true" id="multiModule"
                                           name="isMultiModule">
                                    <label class="form-check-label" for="isMultiModule">
                                        Is application multi module
                                    </label>
                                </div>
                                <button type="button" class="main-info-submit edp-submit-form-btn btn btn-primary"
                                        data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo"
                                >PROCEED TO REPOSITORY INFO
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header collapsed" id="headingTwo" data-toggle="collapse"
                             data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button">
                                    Repository info
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionCreateApplication">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="strategy">Strategy of adding repository
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Select copy to copy your existing repository or create to initialize new repository."></span>
                                    </label>
                                    <select class="form-control" id="strategy" name="strategy">
                                        <option value="create">Create</option>
                                        <option value="clone">Clone</option>
                                    </select>
                                </div>
                                <div class="form-group repo-url hide-element">
                                    <label for="gitRepoUrl">Git repository url
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Please specify url to public repository with following format: http(s)://git.sample.com/sample.git"></span>
                                    </label>
                                    <input name="gitRepoUrl" type="text" class="form-control" id="gitRepoUrl"
                                           placeholder="http(s)://git.sample.com/sample.git">
                                    <div class="invalid-feedback">
                                        Specify URL to existing repository.
                                    </div>
                                    <div class="repo-validation">
                                        <div class="invalid-feedback git-repo">
                                            Current repository doesn't exist.
                                        </div>
                                        <div class="invalid-feedback git-creds">
                                            Invalid Url, login or password.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-check private-repo hide-element">
                                    <input class="form-check-input" type="checkbox" value="" id="isRepoPrivate"
                                           name="isRepoPrivate">
                                    <label class="form-check-label" for="isRepoPrivate">
                                        Is repository private?
                                    </label>
                                </div>
                                <div class="form-group repoLogin hide-element">
                                    <label for="site">Repository login
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Tooltip on top"></span>
                                    </label>
                                    <input name="repoLogin" type="text" class="form-control" id="repoLogin"
                                           placeholder="Enter repository login ">
                                    <div class="invalid-feedback">
                                        Please specify user to clone repository. User should have read role.
                                    </div>
                                </div>
                                <div class="form-group repoPassword hide-element">
                                    <label for="site">Repository password
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Tooltip on top"></span>
                                    </label>
                                    <input name="repoPassword" type="password" class="form-control" id="repoPassword"
                                           placeholder="Enter repository password ">
                                    <div class="invalid-feedback">
                                        Please specify password to clone repository.
                                    </div>
                                </div>
                                <button type="button" class="repo-submit edp-submit-form-btn btn btn-primary"
                                        data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseTwo"
                                >PROCEED TO ROUTE
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card vcs-block hide-element">
                        <div class="card-header collapsed" id="headingThree" data-toggle="collapse"
                             data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button">
                                    Vcs info
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionCreateApplication">
                            <div class="card-body">
                                <div class="form-group vcs-login">
                                    <label for="vcsLogin">Vcs login</label>
                                    <input name="vcsLogin" type="text" class="form-control" id="vcsLogin"
                                           placeholder="Enter vcs login">
                                    <div class="invalid-feedback">
                                        Please specify vsc login.
                                    </div>
                                </div>
                                <div class="form-group vcs-password">
                                    <label for="vcsPassword">Vcs password</label>
                                    <input name="vcsPassword" type="password" class="form-control" id="vcsPassword"
                                           placeholder="Enter vcs password">
                                    <div class="invalid-feedback">
                                        Please specify vsc password.
                                    </div>
                                </div>
                                <button type="button" class="vcs-submit edp-submit-form-btn btn btn-primary"
                                        data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseThree"
                                >PROCEED TO ROUTE
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header collapsed" id="headingFour" data-toggle="collapse"
                             data-target="#collapseFour" aria-expanded="false"
                             aria-controls="collapseFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button">
                                    Route
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse route" aria-labelledby="headingFour"
                             data-parent="#accordionCreateApplication">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="needRoute"
                                           name="needRoute">
                                    <label class="form-check-label" for="needRoute">
                                        Need Route
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="site">Site
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Tooltip on top"></span>
                                    </label>
                                    <input name="routeSite" type="text" class="form-control" id="routeSite"
                                           placeholder="Enter route site ">
                                    <div class="invalid-feedback">
                                        Please specify correct route site.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="route">Path
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Please specify route path with following format: http(s)://example.com/example/path"></span>
                                    </label>
                                    <input name="routePath" type="text" class="form-control" id="routePath"
                                           placeholder="Enter route path ">
                                    <div class="invalid-feedback">
                                        Please specify correct url.
                                    </div>
                                </div>
                                <button type="button" class="route-submit edp-submit-form-btn btn btn-primary"
                                        data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFour"
                                >PROCEED TO DATABASE
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header collapsed" id="headingFive" data-toggle="collapse"
                             data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button">
                                    DataBase
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse dataBase" aria-labelledby="headingFive"
                             data-parent="#accordionCreateApplication">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="needDb"
                                           name="needDb">
                                    <label class="form-check-label" for="needDb">
                                        Need Database
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="database">Database
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Select database you wish to use."></span>
                                    </label>
                                    <select class="form-control" id="database" name="database">
                                        <option>PostgreSQL</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="dbVersion">Version
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Select version of database you wish to use."></span>
                                    </label>
                                    <select class="form-control" id="dbVersion" name="dbVersion">
                                        <option>postgre:9.6</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="dbCapacity">Capacity
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Specify capacity of database."></span>
                                    </label>
                                    <div class="d-flex">
                                        <input name="dbCapacity" type="number" class="form-control storage-capacity"
                                               id="dbCapacity" placeholder="Enter database capacity">
                                        <select class="capacity-ext form-control storage-capacity-ext" name="capacityExt">
                                            <option disabled="disabled">Binary units</option>
                                            <option value="MiB" >MiB</option>
                                            <option value="GiB">GiB</option>
                                            <option value="TiB">TiB</option>
                                            <option disabled="disabled">Decimal units</option>
                                            <option value="MB">MB</option>
                                            <option value="GB">GB</option>
                                            <option value="TB">TB</option>
                                        </select>
                                    </div>
                                    <div class="invalid-feedback">
                                        Please specify database capacity.
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="dbPersistentStorage">Persistent storage
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Specify one of the Openshift's storages."></span>
                                    </label>
                                    <select class="form-control" id="dbPersistentStorage" name="dbPersistentStorage">
                                    </select>
                                    <div class="invalid-feedback">
                                        Please specify persistent storage.
                                    </div>
                                </div>
                                <button type="button"
                                        class="db-submit create-application-submit edp-submit-form-btn btn btn-primary"
                                        data-toggle="collapse"
                                        aria-expanded="false"
                                        aria-controls="">CREATE APPLICATION
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <footer class="edp-footer">
        <div class="copy">
            <p>© 2018 EPAM Systems, Inc. </p>
            <p> All Rights Reserved.</p>
        </div>
    </footer>

    <!-- Modal confirmation -->
    <div class="modal fade" id="confirmationPopup" tabindex="-1" role="dialog" aria-labelledby="confirmationPopupLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationPopupLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="confirmation-data"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="create-application btn btn-primary">Create application</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal success -->
    <div class="modal fade" id="successPopup" tabindex="-1" role="dialog" aria-labelledby="successPopupLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successPopupLabel">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Application is successfully added.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal error -->
    <div class="modal fade" id="errorPopup" tabindex="-1" role="dialog" aria-labelledby="errorPopupLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    An error has occurred on server side.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>