<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDP Admin Console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ .BasePath }}/static/css/index.css">
    <link rel="stylesheet" href="{{ .BasePath }}/static/css/validation.css">
</head>
<body>
<main>
    {{template "template/header_template.html" .}}
    <section class="content d-flex">
        <aside class="p-0 bg-dark active js-aside-menu aside-menu active">
            {{template "template/navbar_template.html" .}}
        </aside>
        <div class="flex-fill pl-4 pr-4 wrapper">

            <form class="edp-form" id="createAppForm" method="post" action="{{ .BasePath }}/admin/edp/application">
                <h1 class="edp-form-header">
                    <a href="{{ .BasePath }}/admin/edp/application/overview" class="edp-back-link"></a>
                    Create Application
                </h1>
                <p>
                    To create an application, pass all the steps below and receive the following: Gerrit Project, Code
                    Review, Jenkins Pipelines.
                </p>

                {{ if .Error }}
                    <div class="form-error">
                        <p>{{ .Error }}</p>
                    </div>
                {{ end }}

                <div class="accordion" id="accordionCreateCodebase">
                    {{template "template/accordion_codebase_template.html" .}}

                    <div class="card main-block" data-codebase-type="application" data-import-strategy data-code-language>
                        <div class="card-header collapsed" id="headingTwo" data-toggle="collapse"
                             data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button">
                                    Application Info
                                </button>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionCreateCodebase">
                            <div class="card-body">

                                <div class="form-group app-name">
                                    <label for="appName">Application Name
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Application name may contain only: lower-case letters, numbers and dashes and cannot start and end with dash. Minimum 2 characters."></span>
                                    </label>
                                    <input name="appName" type="text" class="codebase-name form-control"
                                           id="appName"
                                           placeholder="Type your application name">
                                    <div class="codebase-name-validation invalid-feedback regex-error">
                                        Application name may contain only: lower-case letters, numbers and dashes and
                                        cannot start and end with dash. Minimum 2 characters.
                                    </div>
                                    <div class="app-name-duplicate-validation">
                                        <div class="invalid-feedback duplicate-msg">
                                            Current application is already exists.
                                        </div>
                                    </div>
                                </div>

                                {{template "template/default_branch_template.html" .}}

                                <p class="form-group">Application Code Language/framework
                                    <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                          title="Select application language/framework and build tool."></span>
                                </p>
                                <div class="form__input-wrapper">
                                    {{template "template/language_template.html" .}}
                                    {{template "template/java_framework_template.html" .}}
                                    <div class="js-form-subsection form-subsection formSubsection-js">
                                        <div class="form__input-wrapper with-circle"><span
                                                    class="form__input-heading"></span>
                                            <div class="form__radio-btn-wrapper">
                                                <input name="framework" type="radio" class="form__radio-btn framework"
                                                       id="framework-react" value="React">
                                                <label
                                                        class="form__radio-label" for="framework-react">
                                                    <span class="form__radio-btn--outer-circle">
                                                        <span class="form__radio-btn--inner-circle "></span>
                                                    </span>
                                                    <img class="form__radio-label-icon" src="{{ .BasePath }}/static/img/React.png"
                                                         alt="logo">
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    {{template "template/dotnet_framework_template.html" .}}

                                    {{template "template/go_framework_template.html" .}}

                                    {{template "template/python_framework_template.html" .}}

                                    <div class="js-form-subsection form-subsection formSubsection-groovy-pipeline">
                                        <div class="form__input-wrapper with-circle"><span
                                                    class="form__input-heading"></span>
                                            <div class="form__radio-btn-wrapper">
                                                <input name="framework" type="radio" class="form__radio-btn framework"
                                                       id="framework-Groovy" value="groovy">
                                                <label
                                                        class="form__radio-label" for="framework-Groovy">
                                                    <span class="form__radio-btn--outer-circle">
                                                        <span class="form__radio-btn--inner-circle "></span>
                                                    </span>
                                                    <img class="form__radio-label-icon" src="{{ .BasePath }}/static/img/groovy.png"
                                                         alt="logo">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <input name="framework" type="hidden" id="framework-other" value="other" disabled>
                                </div>
                                <div class="invalid-feedback appLangError">
                                    Please select application type.
                                </div>
                                <div class="invalid-feedback frameworkError">
                                    Please select framework.
                                </div>

                                {{template "template/build_tool_template.html" .}}

                                <div class="form-check multi-module hide-element">
                                    <input class="form-check-input" type="checkbox" value="true" id="multiModule"
                                           name="isMultiModule">
                                    <label class="form-check-label" for="isMultiModule">
                                        Multi-Module Project
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="The application has multi-module structure, in which there is API and a main application that implements the API."></span>
                                    </label>
                                </div>

                                <button type="button" class="application-submit edp-submit-form-btn btn btn-primary"
                                        data-toggle="collapse"
                                        data-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    Proceed
                                </button>
                            </div>
                        </div>
                    </div>

                    {{template "template/advanced_settings_block_template.html" .}}

                    {{if .IsVcsEnabled}}
                        {{template "template/accordion_vcs_template.html" .}}
                    {{end}}
                    <div class="card route-block">
                        <div class="card-header collapsed" id="headingFour" data-toggle="collapse"
                             data-target="#collapseFour" aria-expanded="false"
                             aria-controls="collapseFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button">
                                    Exposing Service Info
                                    <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                          title="In case of your application should be available outside of the cluster you should configure ingress Name and Path."></span>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse route" aria-labelledby="headingFour"
                             data-parent="#accordionCreateCodebase">
                            <div class="card-body">
                                <div class="form-check form-group">
                                    <input class="form-check-input" type="checkbox" value="true" id="needRoute"
                                           name="needRoute">
                                    <label class="form-check-label" for="needRoute">
                                        Need Route
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="site">Name
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Site names may be empty (dnsWildcard value will be used) or contain lower-case letters, numbers, and dashes. They may not start or end with a dash. Min 2 characters."></span>
                                    </label>
                                    <input name="routeSite" type="text" class="form-control" id="routeSite"
                                           placeholder="Enter exposing service name">
                                    <div class="route-site invalid-feedback">
                                        Site names may be empty (dnsWildcard value will be used) or contain lower-case letters, numbers, and dashes. They may
                                        not start or end with a dash. Min 2 characters.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="route">Path
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Path must start with /"></span>
                                    </label>
                                    <input name="routePath" type="text" class="form-control" id="routePath"
                                           placeholder="Enter exposing service path ">
                                    <div class="route-path invalid-feedback">
                                        Path must start with /
                                    </div>
                                </div>
                                <button type="button" class="route-submit edp-submit-form-btn btn btn-primary"
                                        data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    Proceed
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card db-block">
                        <div class="card-header collapsed" id="headingFive" data-toggle="collapse"
                             data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button">
                                    Database
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse dataBase" aria-labelledby="headingFive"
                             data-parent="#accordionCreateCodebase">
                            <div class="card-body">
                                <div class="form-check form-group">
                                    <input class="form-check-input" type="checkbox" value="true" id="needDb"
                                           name="needDb">
                                    <label class="form-check-label" for="needDb">
                                        Need Database
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="database">Database
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Select database you wish to use."></span>
                                    </label>
                                    <select class="form-control" id="database" name="database">
                                        <option>PostgreSQL</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="dbVersion">Version
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Select database version."></span>
                                    </label>
                                    <select class="form-control" id="dbVersion" name="dbVersion">
                                        <option>postgres:9.6</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="dbCapacity">Capacity
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Specify size of database."></span>
                                    </label>
                                    <div class="d-flex">
                                        <input name="dbCapacity" type="number" min="1"
                                               oninput="validity.valid||(value='');"
                                               class="form-control storage-capacity"
                                               id="dbCapacity" placeholder="Enter database size">
                                        <select class="capacity-ext form-control storage-capacity-ext"
                                                name="capacityExt">
                                            <option value="Mi">Mi</option>
                                            <option value="Gi">Gi</option>
                                            <option value="Ti">Ti</option>
                                        </select>
                                    </div>
                                    <div class="capacity-error invalid-feedback">
                                        Please specify database capacity.
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="dbPersistentStorage">Persistent storage
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Specify one of the OpenShift's storages."></span>
                                    </label>
                                    <select class="form-control" id="dbPersistentStorage" name="dbPersistentStorage">
                                    </select>
                                    <div class="invalid-feedback">
                                        Please specify persistent storage.
                                    </div>
                                </div>
                                <button type="button"
                                        class="db-submit edp-submit-form-btn btn btn-primary"
                                        data-toggle="collapse"
                                        aria-expanded="false"
                                        aria-controls="">
                                    Create
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {{ .xsrfdata }}
            </form>
        </div>
    </section>
    {{template "template/footer_template.html" .}}
    {{template "template/confirmation_popup_template.html" .}}

</main>

<script src="{{ .BasePath }}/static/js/jquery-3.3.1.js"></script>
<script src="{{ .BasePath }}/static/js/popper.js"></script>
<script src="{{ .BasePath }}/static/js/bootstrap.js"></script>
<script src="{{ .BasePath }}/static/js/util.js"></script>
<script src="{{ .BasePath }}/static/js/branch-util.js"></script>
<script src="{{ .BasePath }}/static/js/codebase-validation.js"></script>
<script src="{{ .BasePath }}/static/js/bootstrap-notify.js"></script>
</body>
</html>
