<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDP Admin Console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/validation.css">
</head>
<body>
<main>
    {{template "template/header_template.html" .}}
    <section class="content d-flex">
        <aside class="p-0 bg-dark active js-aside-menu aside-menu active">
            {{template "template/navbar_template.html" .}}
        </aside>
        <div class="flex-fill pl-4 pr-4 wrapper">

            <form class="edp-form" id="createLibrary" method="post" action="/admin/edp/library">
                <h1 class="edp-form-header">
                    <a href="/admin/edp/library/overview" class="edp-back-link"></a>
                    Create Library
                </h1>
                <p>
                    To create a library, pass all the steps below and receive the following: Gerrit Project, Code Review, Jenkins Pipelines.
                </p>

                {{ if .Error }}
                    <div class="form-error">
                        <p>{{ .Error }}</p>
                    </div>
                {{ end }}

                <div class="accordion" id="accordionCreateCodebase">

                    {{template "template/accordion_codebase_template.html" .}}

                    <div class="card main-block" data-codebase-type="library">
                        <div class="card-header collapsed" id="headingTwo" data-toggle="collapse"
                             data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button">
                                    Library Info
                                </button>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionCreateCodebase">
                            <div class="card-body">
                                <div class="form-group app-name">
                                    <label for="nameOfApp">Library Name
                                        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                              title="Project name may contain only: lower-case letters, numbers and dashes and cannot start and end with dash. Minimum 2 characters."></span>
                                    </label>
                                    <input name="nameOfApp" type="text" class="codebase-name form-control" id="nameOfApp"
                                           placeholder="Type your library name">
                                    <div class="codebase-name-validation invalid-feedback regex-error">
                                        Library name may contain only: lower-case letters, numbers and dashes
                                        and cannot start and end with dash. Minimum 2 characters.
                                    </div>
                                    <div class="app-name-duplicate-validation invalid-feedback duplicate-msg">
                                        Current library is already exists.
                                    </div>
                                </div>
                                <p class="form-group">
                                    Library Code Language
                                    <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                          title="Select library language and build tool."></span>
                                </p>
                                <div class="form__input-wrapper">
                                    <fieldset id="languageSelection" class="language">
                                        <div class="d-flex">
                                            <div class="form__radio-btn-wrapper">
                                                <input name="appLang" type="radio" class="form__radio-btn"
                                                       id="appLang-Java"
                                                       value="Java" data-target=".formSubsection-java">
                                                <label class="form__radio-label" for="appLang-Java">
                                                    <img class="form__radio-label-icon" src="/static/img/java-logo.png"
                                                         alt="logo">
                                                    <span class="form__radio-label-text">Java</span>
                                                </label>
                                            </div>
                                            <div class="form__radio-btn-wrapper">
                                                <input name="appLang" type="radio" class="form__radio-btn"
                                                       id="appLang-JavaScript" value="JavaScript"
                                                       data-target=".formSubsection-js">
                                                <label class="form__radio-label" for="appLang-JavaScript">
                                                    <img class="form__radio-label-icon"
                                                         src="/static/img/unofficial-java-script-logo-2.png" alt="logo">
                                                    <span class="form__radio-label-text">JavaScript</span>
                                                </label>
                                            </div>
                                            <div class="form__radio-btn-wrapper">
                                                <input name="appLang" type="radio" class="form__radio-btn"
                                                       id="appLang-DotNet" value="DotNet"
                                                       data-target=".formSubsection-dotnet">
                                                <label class="form__radio-label" for="appLang-DotNet">
                                                    <img class="form__radio-label-icon"
                                                         src="/static/img/dotNet.png" alt="logo">
                                                    <span class="form__radio-label-text">DotNet</span>
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="invalid-feedback appLangError">
                                    Please select library type.
                                </div>
                                <div class="form-group build-tool">
                                    <div class="js-form-subsection form-subsection formSubsection-java">
                                        <label for="buildTool">Select Build Tool
                                            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                                  title="Select library build tool."></span>
                                        </label>
                                        <select class="form-control java-build-tools" name="buildTool">
                                            <option>Maven</option>
                                            <option>Gradle</option>
                                        </select>
                                    </div>
                                    <div class="js-form-subsection form-subsection formSubsection-js">
                                        <label for="buildTool">Select Build Tool
                                            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                                  title="Select library build tool."></span>
                                        </label>
                                        <select class="form-control" name="buildTool">
                                            <option>NPM</option>
                                        </select>
                                    </div>
                                    <div class="js-form-subsection form-subsection formSubsection-dotnet">
                                        <label for="buildTool">Select Build Tool
                                            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                                  title="Select library build tool."></span>
                                        </label>
                                        <select class="form-control" name="buildTool">
                                            <option>dotnet</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group jenkinsSlave">
                                    <div class="js-form-subsection form-subsection formSubsection-java">
                                        <label for="jenkinsSlave">Select Jenkins Slave
                                            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                                  title="Select Jenkins Slave which will be used to handle application."></span>
                                        </label>
                                        <select class="form-control jenkinsSlave" name="jenkinsSlave">
                                            <option>maven</option>
                                            <option>gradle</option>
                                        </select>
                                    </div>

                                    <div class="js-form-subsection form-subsection formSubsection-js">
                                        <label for="jenkinsSlave">Select Jenkins Slave
                                            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                                  title="Select Jenkins Slave which will be used to handle application."></span>
                                        </label>
                                        <select class="form-control jenkinsSlave" name="jenkinsSlave">
                                            <option>npm</option>
                                        </select>
                                    </div>

                                    <div class="js-form-subsection form-subsection formSubsection-dotnet">
                                        <label for="jenkinsSlave">Select Jenkins Slave
                                            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                                                  title="Select Jenkins Slave which will be used to handle application."></span>
                                        </label>
                                        <select class="form-control jenkinsSlave" name="jenkinsSlave">
                                            <option>dotnet</option>
                                        </select>
                                    </div>
                                </div>

                                {{if .IsVcsEnabled}}
                                    <button type="button" class="library-submit edp-submit-form-btn btn btn-primary"
                                            data-toggle="collapse"
                                            data-target="#collapseVCS"
                                            aria-expanded="false"
                                            aria-controls="collapseTwo">
                                        Proceed
                                    </button>
                                {{else}}
                                    <div class="form-buttons-footer-left">
                                        <button type="submit" class="create-library edp-submit-form-btn btn btn-primary">
                                            Create
                                        </button>
                                    </div>
                                {{end}}

                            </div>
                        </div>
                    </div>
                    {{if .IsVcsEnabled}}
                         {{template "template/accordion_vcs_template.html" .}}
                    {{end}}
                </div>
            </form>
        </div>
    </section>
    {{template "template/footer_template.html" .}}
    {{template "template/confirmation_popup_template.html" .}}
</main>

<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/codebase-validation.js"></script>
<script src="/static/js/bootstrap-notify.js"></script>
</body>
</html>