<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDP Admin Console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ .BasePath }}/static/css/index.css">
    <link rel="stylesheet" href="{{ .BasePath }}/static/css/cd-pipeline.css">
</head>
<body>
<main>
    {{template "template/header_template.html" .}}
    <section class="content d-flex">
        <aside class="p-0 bg-dark active js-aside-menu aside-menu active">
            {{template "template/navbar_template.html" .}}
        </aside>
        <div class="flex-fill pl-4 pr-4 wrapper">

            <form class="edp-form" id="updateCDCR" method="post" action="{{ .BasePath }}/admin/edp/cd-pipeline/{{.CDPipeline.Name}}/update">
                <h1 class="edp-form-header">
                    <a href="{{ .BasePath }}/admin/edp/cd-pipeline/overview" class="edp-back-link"></a>
                    Edit CD Pipeline
                </h1>
                <p>Edit which applications within this pipeline user wants to deploy.</p>

                {{if .Error}}
                <div class="backend-validation-error">
                    {{.Error}}
                </div>
                {{end}}

                <div class="accordion" id="accordionCreatePipeline">

                    <div class="card applications">
                        <div class="card-header" id="headingTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button">
                                    Applications
                                </button>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="show"
                             aria-expanded="false" aria-controls="collapseTwo"
                             data-parent="#accordionCreatePipeline">
                            <div class="card-body">
                                {{range .Apps}}
                                <div class="row">
                                    <div class="form-group col-sm-4 app-block">
                                        <div class="custom-control custom-checkbox application-checkbox">
                                            <input type="checkbox" class="custom-control-input app-checkbox"
                                                   id="{{.Name}}"
                                                   name="app" value="{{.Name}}">
                                            <label class="custom-control-label"
                                                   for="{{.Name}}">{{.Name}}</label>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-4">
                                        <select title="Release Branches"
                                                class="release-branch selectpicker select-{{.Name}} form-control"
                                                name="{{.Name}}" disabled>
                                            {{range $i, $rb := .CodebaseBranch}}
                                                {{range $rb.CodebaseDockerStream}}
                                                    <option value="{{.OcImageStreamName}}">{{.OcImageStreamName}}</option>
                                                {{end}}
                                            {{end}}
                                        </select>
                                    </div>

                                    <div class="form-group col-sm-4 promote-block">
                                        <div class="custom-control custom-checkbox application-checkbox">
                                            <input type="checkbox" class="custom-control-input app-checkbox promote-checkbox checkbox-{{.Name}}"
                                                   id="{{.Name}}-promote"
                                                   name="{{.Name}}-promote" value="true" checked='' disabled>
                                            <label class="custom-control-label"
                                                   for="{{.Name}}-promote">Promote in pipeline</label>
                                        </div>
                                    </div>
                                </div>
                                {{end}}
                                <div class="invalid-feedback app-checkbox-error">
                                    At least one checkbox must be checked.
                                </div>

                                <div class="cd-pipeline-applications">
                                    {{range .CDPipeline.CodebaseBranch}}
                                        {{$dockerStream := index .CodebaseDockerStream 0}}
                                        <input type="hidden" data-app-name="{{.AppName}}" data-docker-stream-name="{{$dockerStream.OcImageStreamName}}">
                                    {{end}}
                                </div>

                                <div class="applications-to-promote">
                                    {{range $app := .CDPipeline.ApplicationsToPromote}}
                                        <input type="hidden" data-app-name="{{$app}}">
                                    {{end}}
                                </div>

                                <button type="button" class="update-cd-pipeline edp-submit-form-btn btn btn-primary"
                                        data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    Proceed
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                {{ .xsrfdata }}
            </form>
        </div>
    </section>
    {{template "template/footer_template.html" .}}
    {{template "template/modal_success_template.html" .}}

    <!-- Modal add stage -->
    <div class="modal fade" id="stage-creation" tabindex="-1" role="dialog" aria-labelledby="stageCreationPopupLabel"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-size modal-size-adding-stages">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-header">ADDING STAGE</h5>
                    <h5 class="modal-title" id="edit-header" style="display: none">EDITING STAGE</h5>
                    <button type="button" class="close stage-modal-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-size modal-size-adding-stages scroll-y">
                    <div class="form-group">
                        <label for="stageName">Stage name
                            <span class="tooltip-icon" data-toggle="tooltip"
                                  data-placement="top" title=""
                                  data-original-title="Pipeline stage name"></span></label>
                        <input type="text" class="form-control" id="stageName" placeholder="Enter stage name">
                        <div class="invalid-feedback stage-name-msg">
                            Stage name may contain only: lower-case letters, numbers and dashes and cannot start and end
                            with dash. Can not be empty.
                        </div>
                        <div class="invalid-feedback stage-added-msg">
                            Stage with this name is already added.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="stageDesc">Description
                            <span class="tooltip-icon" data-toggle="tooltip"
                                  data-placement="top" title=""
                                  data-original-title="Stage description"></span>
                        </label>
                        <input type="text" class="form-control" id="stageDesc" placeholder="Enter stage description">
                        <div class="invalid-feedback">
                            Can not be empty.
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <div class="form-group w-25 mr-4 mb-2">
                            <label for="qualityGateType">Quality gate type
                                <span class="tooltip-icon" data-toggle="tooltip"
                                      data-placement="top" title=""
                                      data-original-title="Select quality gate type"></span>
                            </label>
                            <select class="form-control" id="qualityGateType">
                                <option value="manual">Manual</option>
                                <option value="autotests" {{if not .Autotests}}disabled{{end}}>Autotests</option>
                            </select>
                        </div>
                        <div class="form-group w-25 mr-4 mb-2">
                            <label for="nameOfStep">Step name
                                <span class="tooltip-icon" data-toggle="tooltip"
                                      data-placement="top" title=""
                                      data-original-title="Define quality gate step name"></span>
                            </label>
                            <input type="text" class="form-control" id="nameOfStep" placeholder="Enter step name">
                        </div>
                    </div>
                    <div class="invalid-feedback step-name-validation-msg">
                        Step name may contain only: lower-case letters, numbers and dashes and cannot start and end with
                        dash. Can not be empty.
                    </div>
                    <div class="autotests">
                        <div class="d-flex">
                            <div class="form-group w-50 mb-2">
                                <label for="autotests">
                                    Autotests
                                    <span class="tooltip-icon" data-toggle="tooltip"
                                           data-placement="top" title=""
                                           data-original-title="Select autotest wish you'd like to use on the specified stage"></span>
                                </label>

                                {{if .Autotests}}
                                    <table>
                                        {{range $autotest := .Autotests}}
                                            <tr>
                                                <th>
                                                    <div class="custom-control custom-checkbox autotests-checkbox-info">
                                                        <input type="checkbox"
                                                               class="custom-control-input autotests-checkbox"
                                                               id="{{.Name}}-checkbox"
                                                               name="autotests-checkbox" value="{{.Name}}"
                                                               {{if not .CodebaseBranch}}disabled{{end}}>
                                                        <label class="custom-control-label"
                                                               for="{{.Name}}-checkbox">{{.Name}}</label>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="custom-checkbox autotest-branch autotests-branches-div">
                                                        <select class="{{.Name}}-branch form-control autotests-branches-select" id="autotestBranch" name="{{$autotest.Name}}-autotestBranch">
                                                            {{if .CodebaseBranch}}
                                                                {{range .CodebaseBranch}}
                                                                    <option value="{{.Name}}">{{.Name}}</option>
                                                                {{end}}
                                                            {{else}}
                                                                <option>no active branches</option>
                                                            {{end}}
                                                        </select>
                                                    </div>
                                                </th>
                                            </tr>
                                        {{end}}
                                    </table>
                                {{end}}

                            </div>
                        </div>
                    </div>
                    <div class="invalid-feedback autotests-validation-msg">
                        At least one autotests should be checked
                    </div>
                    <div class="d-flex flex-column justify-content-start">
                        <div class="d-flex">
                            <div class="form-group w-50 mb-2">
                                <label for="triggerType">Trigger type
                                    <span class="tooltip-icon" data-toggle="tooltip"
                                                                           data-placement="top" title=""
                                                                           data-original-title="Stage provisioning trigger type"></span>
                                </label>
                                <select class="form-control" id="triggerType">
                                    <option>Manual</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="cancel-edit-stage btn btn-secondary btn-modal-close" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="add-stage btn btn-primary">
                        Add
                    </button>
                    <button type="button" class="confirm-edit-stage btn btn-primary" style="display: none">
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="{{ .BasePath }}/static/js/jquery-3.3.1.js"></script>
<script src="{{ .BasePath }}/static/js/popper.js"></script>
<script src="{{ .BasePath }}/static/js/bootstrap.js"></script>
<script src="{{ .BasePath }}/static/js/cd-pipeline-edit.js"></script>
<script src="{{ .BasePath }}/static/js/bootstrap-notify.js"></script>
</body>
</html>