<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/edp-instance.css">
</head>
<body>
<main>
    <header class="edp-header">
        <div class="logo">
            <img src="../static/img/epam-logo-full-color-pms-colors.png" alt="epam">
        </div>
        <h2>Epam Delivery Platform</h2>
    </header>
    <section class="content d-flex">
        <div class="flex-fill pl-4 pr-4 wrapper">

            <div>
                {{if .EDPTenants}}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>EDP tenants</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $k, $v := .EDPTenants}}
                            <tr>
                                <td>
                                    <a href="{{$.InputURL}}/{{$v.Name}}">{{$v.Name}}</a>
                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                {{else}}
                    <div class="no-tenant">
                        <h1>Looks like you don't have permissions to the installed EDP tenants.</h1>
                        <p>Please, contact EDP support team to share installed tenant or install new one.</p>
                    </div>
                {{end}}
            </div>
        </div>
    </section>
    <footer class="edp-footer">
        <div class="copy">
            <p>© 2018 EPAM Systems, Inc. </p>
            <p> All Rights Reserved.</p>
        </div>
    </footer>
</main>
<script src="../static/js/jquery-3.3.1.js"></script>
<script src="../static/js/popper.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>