<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/edp-instance.css">
</head>
<body>
<main>
    {{template "template/header_template.html" .}}
    <section class="content d-flex">
        <aside class="p-0 bg-dark active js-aside-menu aside-menu active">
            {{template "template/navbar_template.html" .}}
        </aside>
        <div class="flex-fill pl-4 pr-4 wrapper">

            <div style="margin-top: 10px">
                <table class="table">
                    <tbody>
                        {{ range $k, $v := .EDPComponents }}
                            <tr>
                                <td width="25px">
                                    <a href="{{ $v }}" target="_blank" rel="noopener noreferrer">
                                        <img src="/static/img/{{$k}}.svg" alt="{{$k}}" height="45" width="42">
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ $v }}" target="_blank" rel="noopener noreferrer">{{ $k }}</a>
                                </td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    {{template "template/footer_template.html" .}}
</main>
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>