<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDP Admin Console</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ .BasePath }}/static/css/index.css">
</head>
<body>
<main>
    {{template "template/header_template.html" .}}
    <section class="content d-flex">
        <aside class="p-0 bg-dark active js-aside-menu aside-menu active">
            {{template "template/navbar_template.html" .}}
        </aside>
        <div class="flex-fill pl-4 pr-4 wrapper">
            <div class="d-flex edp-form wide">
                <div class="flex-fill">
                    <h1>
                        Services
                    </h1>
                    {{if .Services}}
                        <p>Please find below the list of services.</p>
                    {{else}}
                        <p>Looks like there're no any services.</p>
                    {{end}}
                </div>
            </div>
            {{if .Services}}
                <div class="edp-table-container">
                    <table class="table edp-table">
                        <thead>
                        <tr>
                            <th></th>
                            <th scope="col">Name</th>
                            <th scope="col">Version</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>

                        {{range .Services}}
                            <tr>
                                <td width="25px">
                                    <img src="data:image/svg+xml;base64,{{ .Icon }}" alt="{{ .Name }}" height="45" width="42"/>
                                </td>
                                <td>{{.Name}}</td>
                                <td>{{.Version}}</td>
                                <td>{{.Description}}</td>
                            </tr>
                        {{end}}

                        </tbody>
                    </table>
                </div>
            {{end}}
        </div>
    </section>
    {{template "template/footer_template.html" .}}

</main>
<script src="{{ .BasePath }}/static/js/jquery-3.3.1.js"></script>
<script src="{{ .BasePath }}/static/js/popper.js"></script>
<script src="{{ .BasePath }}/static/js/bootstrap.js"></script>
</body>
</html>