.flex-fill.sub-header h1 {
    font-size: 1.5rem;
}

.no-app-message {
    width: 50%;
    margin: 10% auto auto;
    text-align: center;
}

.no-rights-msg {
    font-size: 2rem;
}

.non-valid-input {
    border: 1px solid red;
}

.form-error {
    color: red;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: grey;
}