.modal-size {
    width: 800px;
    height: 550px;
}

.modal-size-adding-stages {
    width: 700px;
    height: 550px;
}


.non-valid-input {
    border: 1px solid red;
}

.backend-validation-error {
    color: red;
}