.modal-size {
    width: 800px;
    height: 550px;
}

.modal-size-adding-stages {
    width: 800px !important;
    height: 550px;
}


.non-valid-input {
    border: 1px solid red;
}

.backend-validation-error {
    color: red;
}

.left-padding {
    margin-left: 18px;
}

.autotests {
    display: none;
}

.scroll-y {
    overflow-y: scroll;
}

.autotests-branches-select {
    height: 25px;
    padding: 0 0.75rem;
}

.autotests-branches-div {
    margin-left: 5px;
}

.cd-pipeline-applications {
    display: none;
}

.applications-to-promote {
    display: none;
}

.circle {
    border: 1px solid #aaa;
    box-shadow: inset 1px 1px 3px #fff;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    position: relative;
    margin: 4px;
    display: inline-block;
    vertical-align: middle;
    background: #aaaaaa4f;
}

.circle:hover {
    background: radial-gradient(#aaa, #fff);
}

.circle:active {
    background: #6363634f;
}

.circle:before,
.circle:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* PLUS */
.circle.plus:before,
.circle.plus:after {
    background: #76CDD8;
    box-shadow: 1px 1px 1px #ffffff9e;
}

.circle.plus:before {
    width: 2px;
    margin: 3px auto;
}

.circle.plus:after {
    margin: auto 3px;
    height: 2px;
    box-shadow: none;
}

.element-width {
    width: 150px;
}