.modal-size {
    width: 800px;
    height: 550px;
}

.modal-size-adding-stages {
    width: 800px !important;
    height: 550px;
}


.non-valid-input {
    border: 1px solid red;
}

.backend-validation-error {
    color: red;
}

.left-padding {
    margin-left: 18px;
}

.autotests {
    display: none;
}

.scroll-y {
    overflow-y: scroll;
}

.autotests-branches-select {
    height: 25px;
    padding: 0 0.75rem;
}

.autotests-branches-div {
    margin-left: 5px;
}

.cd-pipeline-applications {
    display: none;
}

.applications-to-promote {
    display: none;
}

.element-width {
    width: 150px;
}