.form-error {
    color: red;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: grey;
}

.button-disabled {
    display: none;
}

.codebase-overview-block {
    padding-top: 2.5rem;
    padding-bottom: 12.75rem;
    max-width: 1128px;
}

.codebase-overview-block h1 {
    font-size: 1.375rem;
    font-family: "MuseoSans", sans-serif;
    font-weight: 900;
}

.codebase-overview-block > p {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
}

.codebase-overview-block .card {
    margin-bottom: 0.4375rem;
}

.codebase-overview-block .card-body {
    padding: 1.125rem;
    border-bottom: 1px solid rgba(34, 34, 34, 0.125);
    border-left: 1px solid rgba(34, 34, 34, 0.125);
    border-right: 1px solid rgba(34, 34, 34, 0.125);
}

.codebase-overview-block .card-body > p {
    margin-bottom: 0.3125rem;
}

.codebase-overview-block .card-header {
    padding: 0.35rem 0.5rem;
    cursor: pointer;
    position: relative;
}

.codebase-overview-block .card-header.collapsed {
    background-color: #ebeef0;
}

.codebase-overview-block .card-header.collapsed .btn {
    color: #cccccc;
}

.codebase-overview-block .card-header.collapsed.success:after {
    content: '\2714';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.codebase-overview-block .card-header.collapsed.success .btn {
    color: #464547;
}

.codebase-overview-block .card-header.collapsed.invalid {
    border-left: 2px solid #f15c43;
}

.codebase-overview-block .card-header.collapsed.invalid .btn {
    color: #f15c43;
}

.codebase-overview-block .btn-link {
    color: #ffffff;
    font-size: 0.9rem;
}

.codebase-overview-block .btn-link:focus, .codebase-overview-block .btn-link:hover {
    text-decoration: none;
}

.codebase-overview-block .btn-primary {
    color: #ffffff;
    font-size: 0.8rem;
}

.button-indent {
    margin-top: 5px;
    margin-bottom: 10px;
}

.action-log-table td {
    word-wrap: break-word;
}

.action-log-table {
    table-layout: fixed;
    width: 100%
}