.no-codebase-message {
    width: 50%;
    margin: 10% auto auto;
    text-align: center;
}

.no-rights-msg {
    font-size: 2rem;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: grey;
}