<div class="js-form-subsection form-subsection formSubsection-container hide-element">
    <hr/>
    <div class="form__input-wrapper d-flex">
        <div class="form__radio-btn-wrapper">
            <input name="framework" type="radio" class="form__radio-btn framework"
                   id="framework-docker" value="docker">
            <label
                    class="form__radio-label" for="framework-docker">
                <img class="form__radio-label-icon" src="{{ .BasePath }}/static/img/docker-logo.png"
                     alt="logo">
                <span class="form__radio-label-text">Docker</span>
            </label>
        </div>
    </div>
</div>