{{if eq .Type "application"}}
    <div class="form-group app-name">
        <label for="appName">Application Name
            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                  title="Application name may contain only: lower-case letters, numbers and dashes and cannot start and end with dash. Minimum 2 characters."></span>
        </label>
        <input name="appName" type="text" class="codebase-name form-control"
               id="appName"
               placeholder="Type your application name">
        <div class="codebase-name-validation invalid-feedback regex-error">
            Application name may contain only: lower-case letters, numbers and dashes and
            cannot start and end with dash. Minimum 2 characters.
        </div>
        <div class="codebase-exists invalid-feedback">
            Application name already in use. Use a different name.
        </div>
        <div class="app-name-duplicate-validation">
            <div class="invalid-feedback duplicate-msg">
                Current application is already exists.
            </div>
        </div>
    </div>
{{else if eq .Type "autotests"}}
    <div class="form-group app-name">
        <label for="appName">Autotest Name
            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                  title="Autotest name may contain only: lower-case letters, numbers and dashes and cannot start and end with dash. Minimum 2 characters."></span>
        </label>
        <input name="appName" type="text" class="codebase-name form-control" id="appName"
               placeholder="Type your autotest name">
        <div class="codebase-name-validation invalid-feedback regex-error">
            Autotest name may contain only: lower-case letters, numbers and dashes
            and cannot start and end with dash. Minimum 2 characters.
        </div>
        <div class="codebase-exists invalid-feedback">
            Autotest name already in use. Use a different name.
        </div>
        <div class="app-name-duplicate-validation">
            <div class="invalid-feedback duplicate-msg">
                Current autotest is already exists.
            </div>
        </div>
    </div>
{{else if eq .Type "library"}}
    <div class="form-group app-name">
        <label for="appName">Library Name
            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                  title="Library name may contain only: lower-case letters, numbers and dashes and cannot start and end with dash. Minimum 2 characters."></span>
        </label>
        <input name="appName" type="text" class="codebase-name form-control" id="appName"
               placeholder="Type your library name">
        <div class="codebase-name-validation invalid-feedback regex-error">
            Library name may contain only: lower-case letters, numbers and dashes
            and cannot start and end with dash. Minimum 2 characters.
        </div>
        <div class="codebase-exists invalid-feedback">
            Library name already in use. Use a different name.
        </div>
        <div class="app-name-duplicate-validation">
            <div class="invalid-feedback duplicate-msg">
                Current library is already exists.
            </div>
        </div>
    </div>
{{end}}