<div class="form-group app-default-branch">
    <label for="defaultBranch">Default branch
        <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
              title="Default branch to create/use"></span>
    </label>
    <input name="defaultBranchName" type="text" class="default-branch-name form-control"
           id="defaultBranchName"
           placeholder="Type default branch name">
    <div class="default-branch-name-validation invalid-feedback regex-error">
        Branch name may contain only: lower-case letters, numbers, slashes, dashes and dots. Can start and end only with lower-case letters and numbers. Minimum 2 characters.
    </div>
</div>