<div class="modal fade" tabindex="-1" role="dialog" id="delete-confirmation"
     data-backdrop="static" data-keyboard="false" {{if .pipeline}}data-pipeline="{{.pipeline}}"{{end}}
     data-kind="{{.kind}}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title confirmation-msg"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="popup-message default">
                    {{if eq .kind "codebase"}}
                        Please confirm the deletion of the codebase with all its components (Record in database, Jenkins pipelines).
                    {{else if eq .kind "codebase-branch"}}
                        Please confirm the deletion of the codebase branch with the corresponding record in the database.
                    {{else if eq .kind "cd-pipeline"}}
                        Please confirm the deletion of the CD pipeline with all its components (Record in database, Jenkins pipelines, cluster namespace).
                    {{else}}
                        Please confirm the deletion of the CD stage with all its components (Record in database, Jenkins pipeline, cluster namespace).
                    {{end}}
                </p>
                <p class="popup-message last-stage" style="display: none">You are going to delete last stage
                    that leads to CD Pipeline deletion.
                    Please confirm the deletion of the CD pipeline with all its components (Record in database, Jenkins pipelines, cluster namespace).
                </p>
                <form id="delete-action" method="post" action="{{.action}}">
                    <div class="form-group">
                        <input type="text" class="form-control" id="entity-name" name="name"
                               aria-describedby="emailHelp" placeholder="Enter name">

                        <div class="invalid-feedback different-name">
                            Names are different
                        </div>
                        {{if .error }}
                            <div class="invalid-feedback server-error">
                                <p>{{.error}}</p>
                            </div>
                        {{end}}
                    </div>
                    {{ .xsrfdata }}
                    {{if eq .kind "codebase"}}
                        <input type="hidden" id="codebase-type" name="codebase-type" value="{{.type}}">
                    {{else if eq .kind "stage"}}
                        <input type="hidden" id="pipeline" name="pipeline" value="{{.pipeline}}">
                        <input type="hidden" id="order" name="order">
                    {{else if eq .kind "codebase-branch"}}
                        <input type="hidden" id="codebase-name" name="codebase-name" value="{{.codebasename}}">
                    {{end}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancel-delete" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger delete-confirmation">Delete</button>
            </div>
        </div>
    </div>
</div>