<div class="js-form-subsection form-subsection formSubsection-dotnet">
    <div class="form__input-wrapper with-circle"><span
                class="form__input-heading"></span>
        <div class="form__radio-btn-wrapper">
            <input name="framework" type="radio" class="form__radio-btn framework"
                   id="framework-dotnet-2.1" value="dotnet-2.1">
            <label
                    class="form__radio-label" for="framework-dotnet-2.1">
                                                    <span class="form__radio-btn--outer-circle">
                                                        <span class="form__radio-btn--inner-circle "></span>
                                                    </span>
                <img class="form__radio-label-icon" src="{{ .BasePath }}/static/img/dotnet-2.1.png"
                     alt="logo">
                <span class="form__radio-label-text">Dotnet 2.1</span>
            </label>
        </div>
        <div class="form__radio-btn-wrapper">
            <input name="framework" type="radio" class="form__radio-btn framework"
                   id="framework-dotnet-3.1" value="dotnet-3.1">
            <label
                    class="form__radio-label" for="framework-dotnet-3.1">
                                                    <span class="form__radio-btn--outer-circle">
                                                        <span class="form__radio-btn--inner-circle "></span>
                                                    </span>
                <img class="form__radio-label-icon" src="{{ .BasePath }}/static/img/dotnet-3.1.png"
                     alt="logo">
                <span class="form__radio-label-text">Dotnet 3.1</span>
            </label>
        </div>
    </div>
</div>