<div class="js-form-subsection form-subsection formSubsection-go hide-element">
    <div class="go-frameworks d-flex">
        <div class="form__radio-btn-wrapper">
            <input name="framework" type="radio" class="form__radio-btn framework"
                   id="framework-beego" value="beego">
            <label class="form__radio-label" for="framework-beego">
                                                    <span class="form__radio-btn--outer-circle">
                                                        <span class="form__radio-btn--inner-circle "></span>
                                                    </span>
                <img class="form__radio-label-icon" src="{{ .BasePath }}/static/img/beego.png"
                     alt="logo">
				<span class="form__radio-label-text">Beego</span>
            </label>
        </div>
        <div class="form__radio-btn-wrapper">
            <input name="framework" type="radio" class="form__radio-btn framework"
                   id="framework-operator-sdk" value="operator-sdk">
            <label class="form__radio-label" for="framework-operator-sdk">
                                                    <span class="form__radio-btn--outer-circle">
                                                        <span class="form__radio-btn--inner-circle "></span>
                                                    </span>
                <img class="form__radio-label-icon" src="{{ .BasePath }}/static/img/operator-sdk.png"
                     alt="logo">
				<span class="form__radio-label-text">Operator SDK</span>
            </label>
        </div>
    </div>
</div>