<div class="js-form-subsection form-subsection formSubsection-groovy-pipeline">
    <hr/>
    <div class="form__input-wrapper d-flex">
        <div class="form__radio-btn-wrapper">
            <input name="framework" type="radio" class="form__radio-btn framework"
                   id="framework-Groovy" value="codenarc">
            <label
                    class="form__radio-label" for="framework-Groovy">
                <img class="form__radio-label-icon" src="{{ .BasePath }}/static/img/codenarc-logo.png"
                     alt="logo">
                <span class="form__radio-label-text">Codenarc</span>
            </label>
        </div>
    </div>
</div>