<div class="js-form-subsection form-subsection formSubsection-java">
    <div class="java-frameworks d-flex">
        <div class="form__radio-btn-wrapper">
            <input name="framework" type="radio" class="form__radio-btn"
                   id="framework-java8" value="java8">
            <label class="form__radio-label" for="framework-java8">
                <img class="form__radio-label-icon" src="{{ .BasePath }}/static/img/java-logo.png"
                     alt="logo">
                <span class="form__radio-label-text">Java 8</span>
            </label>
        </div>
        <div class="form__radio-btn-wrapper">
            <input name="framework" type="radio" class="form__radio-btn"
                   id="framework-java11" value="java11">
            <label class="form__radio-label" for="framework-java11">
                <img class="form__radio-label-icon" src="{{ .BasePath }}/static/img/java-logo.png"
                     alt="logo">
                <span class="form__radio-label-text">Java 11</span>
            </label>
        </div>
    </div>
</div>