<div class="js-form-subsection form-subsection formSubsection-js">
    <div class="form__input-wrapper d-flex">
        <div class="form__radio-btn-wrapper">
            <input name="framework" type="radio" class="form__radio-btn framework"
                   id="framework-react" value="React">
            <label
                    class="form__radio-label" for="framework-react">
                <img class="form__radio-label-icon" src="{{ .BasePath }}/static/img/React-icon.png"
                     alt="logo">
                <span class="form__radio-label-text">React</span>
            </label>
        </div>
    </div>
</div>