<div class="form-group jenkinsSlave">

    <div class="js-form-subsection form-subsection formSubsection-java">
        <label for="jenkinsSlave">Select Jenkins Slave
            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                  title="Select Jenkins Slave which will be used to handle application."></span>
        </label>
        <select class="form-control jenkinsSlave" name="jenkinsSlave">
            <option>maven</option>
            {{if ne .Type "autotests" }}
                <option>gradle</option>
            {{end}}
        </select>
    </div>

    {{if ne .Type "autotests" }}
        <div class="js-form-subsection form-subsection formSubsection-js">
            <label for="jenkinsSlave">Select Jenkins Slave
                <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                      title="Select Jenkins Slave which will be used to handle application."></span>
            </label>
            <select class="form-control jenkinsSlave" name="jenkinsSlave">
                <option>npm</option>
            </select>
        </div>

        <div class="js-form-subsection form-subsection formSubsection-dotnet">
            <label for="jenkinsSlave">Select Jenkins Slave
                <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                      title="Select Jenkins Slave which will be used to handle application."></span>
            </label>
            <select class="form-control jenkinsSlave" name="jenkinsSlave">
                <option>dotnet</option>
            </select>
        </div>
    {{end}}

    <div class="js-form-subsection form-subsection formSubsection-other">
        <label for="jenkinsSlave">Select Jenkins Slave
            <span class="tooltip-icon" data-toggle="tooltip" data-placement="top"
                  title="Select Jenkins Slave which will be used to handle application."></span>
        </label>
        <select class="form-control jenkinsSlave" name="jenkinsSlave">
            {{range .JenkinsSlaves}}
                <option>{{.Name}}</option>
            {{end}}
        </select>
    </div>

</div>