<label for="jiraFieldName"
       class="jiraFieldNameLabel template hide-element">Jira Field Name
    <span class="tooltip-icon" data-toggle="tooltip"
          data-placement="top" title=""
          data-original-title="Select Jira field name"></span>
</label>

<label for="jiraPattern"
       class="jiraPatternLabel template hide-element">Jira Pattern
    <span class="tooltip-icon" data-toggle="tooltip"
          data-placement="top" title=""
          data-original-title="Define Jira pattern"></span>
</label>

<div class="full-template jira-issue-metadata-row hide-element">
    <div class="d-flex justify-content-start">
        <div class="form-group w-40 mr-4 mb-2 div-jira-row-width">
            <label for="jiraFieldName"
                   class="jiraFieldNameLabel">Jira Field Name
                <span class="tooltip-icon" data-toggle="tooltip"
                      data-placement="top" title=""
                      data-original-title="Select Jira field name"></span>
            </label>
            <select name="jiraFieldName" class="jiraIssueFields jiraFieldName"
                    placeholder="Select a Jira field...">
                <option value="">Select a Jira field...</option>
            </select>
        </div>
        <div class="form-group w-50 mr-4 mb-2">
            <label for="jiraPattern"
                   class="jiraPatternLabel">Jira Pattern
                <span class="tooltip-icon" data-toggle="tooltip"
                      data-placement="top" title=""
                      data-original-title="Define Jira pattern"></span>
            </label>
            <input name="jiraPattern" type="text" class="form-control element-width jiraPattern" id="jiraPattern"
                   placeholder="Enter Jira pattern">
        </div>

        <button type="button" class="delete remove-jira-issue-metadata-row">
            <i class="icon-trashcan"></i>
        </button>
    </div>
</div>

<div class="partial-template jira-issue-metadata-row hide-element">
    <div class="d-flex justify-content-start">
        <div class="form-group w-40 mr-4 mb-2 div-jira-row-width">
            <select name="jiraFieldName" class="jiraIssueFields jiraFieldName"
                    placeholder="Select a Jira field...">
                <option value="">Select a Jira field...</option>
            </select>
        </div>
        <div class="form-group w-50 mr-4 mb-2">
            <input name="jiraPattern" type="text" class="form-control element-width jiraPattern" id="jiraPattern"
                   placeholder="Enter Jira pattern">
        </div>

        <button type="button" class="delete remove-jira-issue-metadata-row">
            <i class="icon-trashcan"></i>
        </button>
    </div>
</div>