<label class="form-group">Advance mapping
    <a data-toggle="collapse" href="#jiraAdvanceMappingTooltip" aria-expanded="false"
       aria-controls="jiraAdvanceMappingTooltip">
        <img alt="question mark" src="{{ .BasePath }}/static/img/question_mark.png"
             width="16px" height="16px">
    </a>
</label>

<div class="collapse" id="jiraAdvanceMappingTooltip">
    <div class="div-tooltip card card-body-tooltip">
        <p>
            There are three predefined variables available for usage: <b>EDP_COMPONENT</b>, <b>EDP_VERSION</b>, and <b>EDP_GITTAG</b>. </br>
            Specify necessary variables that will be replaced with values in the future. </br>
            </br>
            Combine these variables to obtain the required values. </br>
            </br>
            <em>Examples</em>: </br>
            <ul type="square">
            <li> <b>EDP_COMPONENT</b>- demo-component -<b>EDP_VERSION</b> </br>
            <li> <b>EDP_GITTAG</b>-<b>EDP_VERSION</b> </br>
            </ul>
        </p>
    </div>
</div>