<label class="form-group">Advance mapping
    <a data-toggle="collapse" href="#jiraAdvanceMappingTooltip" aria-expanded="false"
       aria-controls="jiraAdvanceMappingTooltip">
        <img alt="question mark" src="{{ .BasePath }}/static/img/question_mark.png"
             width="16px" height="16px">
    </a>
</label>

<div class="collapse" id="jiraAdvanceMappingTooltip">
    <div class="div-tooltip card card-body-tooltip">
        <p>
            <b>Note</b>: There are three predefined variables which you can use - <b>EDP_COMPONENT</b>, <b>EDP_VERSION</b> and <b>EDP_GITTAG</b>. </br>
            Those variables will be replaced with values in the feature. </br>
            </br>
            So, you can vary combination of those variables to reach values you need. </br>
            </br>
            <b>Examples</b>: </br>
            - <b>EDP_COMPONENT</b>-hello-world-<b>EDP_VERSION</b> </br>
            - <b>EDP_GITTAG</b>-<b>EDP_VERSION</b> </br>
        </p>
    </div>
</div>