<div class="js-form-subsection form-subsection formSubsection-rego hide-element">
    <hr/>
    <div class="form__input-wrapper d-flex">
        <div class="form__radio-btn-wrapper">
            <input name="framework" type="radio" class="form__radio-btn framework"
                   id="framework-opa" value="opa">
            <label
                    class="form__radio-label" for="framework-opa">
                <img class="form__radio-label-icon" src="{{ .BasePath }}/static/img/opa-logo.png"
                     alt="logo">
                <span class="form__radio-label-text">OPA</span>
            </label>
        </div>
    </div>
</div>