<div class="js-form-subsection form-subsection formSubsection-python hide-element">
    <div class="form__input-wrapper with-circle"><span
                class="form__input-heading"></span>
        <div class="form__radio-btn-wrapper">
            <input name="framework" type="radio" class="form__radio-btn framework"
                   id="framework-python-3.8" value="python-3.8">
            <label
                    class="form__radio-label" for="framework-python-3.8">
                                                    <span class="form__radio-btn--outer-circle">
                                                        <span class="form__radio-btn--inner-circle "></span>
                                                    </span>
                <img class="form__radio-label-icon" src="{{ .BasePath }}/static/img/python-3.8.png"
                     alt="logo">
                <span class="form__radio-label-text">Python 3.8</span>
            </label>
        </div>
    </div>
</div>