<div class="js-form-subsection form-subsection formSubsection-terraform hide-element">
    <div class="form__input-wrapper d-flex">
        <div class="form__radio-btn-wrapper">
            <input name="framework" type="radio" class="form__radio-btn framework"
                   id="framework-terraform" value="terraform">
            <label
                    class="form__radio-label" for="framework-terraform">
                <img class="form__radio-label-icon" src="{{ .BasePath }}/static/img/terraform-logo.png"
                     alt="logo">
                <span class="form__radio-label-text">Terraform</span>
            </label>
        </div>
    </div>
</div>